

{% extends "wrapper_small.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="card text-center col-sm-6 container">
  <div class="card-header">
    <h1>{% trans "Войти" %}</h1>
  </div>
  <div class="card-body">
    <h5 class="card-title">

       {% if socialaccount_providers %}
            <p>{% blocktrans with site.name as site_name %}Please sign in with one
            of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
            for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

            <div class="socialaccount_ballot">

              <ul class="socialaccount_providers">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
              </ul>

              <div class="login-or">{% trans 'or' %}</div>

            </div>

            {% include "socialaccount/snippets/login_extra.html" %}

       {% else %}
            <p>{% blocktrans %}Если вы не зарегистрированы на сайте, пожалуйста
            <a href="{{ signup_url }}">Зарегистрируйтесь</a>{% endblocktrans %}</p>
       {% endif %}

    </h5>

    <p class="card-text">{% get_providers as socialaccount_providers %}</p>

    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Забыли пароль?" %}</a>
      <button class=" btn btn-danger primaryAction" type="submit">{% trans "Войти" %}</button>
    </form>

  </div>

</div>

{% endblock %}