
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Выберите город</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="width: 100%; height: 500px; overflow: auto">

                <input id="CityI" name = "cityI" type="text" class="input-medium search-query form-control" placeholder="Все города" oninput = "searchCity(this)">
                <p></p>

                <div id = "citylist_panel">
                    {% for i in citylist %}

                        {% if i.items %}
                        <div class="panel-group" id="collapse-group" name="panel-group-for-search">
                            <div class="panel panel-default">

                                {% if i.name == "Не указан" %}
                                  {% for elem in i.items %}
                                      <div style="margin-left: 15pt">
                                          <input class="form-check-input" type="radio" name="checkcity" id="{{elem.id}}" onclick="setCity(this)" value="{{elem.name}}">
                                          <label class="form-check-label" for="{{elem.id}}">
                                              {{elem.name}}
                                          </label>
                                      </div>
                                  {% endfor %}
                                {% else %}
                                  <div class="panel-heading">
                                      <a data-toggle="collapse" data-parent="#collapse-group" href="#el1{{ i.id }}">{{i.name}}</a>
                                  </div>

                                  <div id="el1{{ i.id }}" class="panel-collapse collapse in ml-5" >
                                  {% for elem in i.items %}
                                      <div>
                                          <input class="form-check-input" type="radio" name="checkcity" id="{{elem.id}}" onclick="setCity(this)" value="{{elem.name}}">
                                          <label class="form-check-label" for="{{elem.id}}">
                                              {{elem.name}}
                                          </label>
                                      </div>
                                  {% endfor %}
                                  </div>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="saveCity(this)">Сохранить</button>
            </div>
        </div>
    </div>
</div>

<script>

    var selectCity      = ''
    var selectCityid    = ''

    function searchCity(e) {
        //пока перебором дом элементов :(
        let cityArray   = document.getElementById('citylist_panel');
        let searchQuery = e.value.toUpperCase();

        for (var i = 0; i < cityArray.children.length; i++) {

            if (cityArray.children[i].getAttribute('name') == 'panel-group-for-search') {

                let hidden          = true;
                let maingroup       = cityArray.children[i].children[0];   //группа
                let articlegroup    = maingroup.children[0];
                let elemgroup       = maingroup.children[1];//группа в которой находятся элементы

                for (var y = 0; y < elemgroup.children.length; y++) {

                    if (searchQuery != ''){
                        let x = elemgroup.children[y].children[0].value.toUpperCase();
                        if (x.indexOf(searchQuery) != -1) {
                            hidden = false;
                            elemgroup.children[y].hidden = false;
                        }
                        else{
                            elemgroup.children[y].hidden = true;
                        }
                    }
                    else {
                        elemgroup.children[y].hidden = false;
                        hidden = false;
                    }
                }

                if (searchQuery != ''){
                    if (hidden) {
                        cityArray.children[i].hidden = true;
                        articlegroup.children[0].className = "collapsed";
                        elemgroup.className = "panel-collapse in ml-5 collapse";
                        articlegroup.children[0].setAttribute("aria-expanded", false);
                    }
                    else{
                        cityArray.children[i].hidden = false;
                        articlegroup.children[0].className  = "";
                        elemgroup.className = "panel-collapse in ml-5 collapse show";
                        articlegroup.children[0].setAttribute("aria-expanded", true);
                    }
                }
                else{
                    cityArray.children[i].hidden = false;
                    articlegroup.children[0].className  = "";
                    elemgroup.className = "panel-collapse in ml-5 collapse";
                    articlegroup.children[0].setAttribute("aria-expanded", false);
                }

            }
              //alert(  ); // Text, DIV, Text, UL, ..., SCRIPT
        }
    }

    function setCity(e) {

        selectCity      = e.value;
        selectCityid    = e.id;
    }

    function saveCity(e) {
        var elem = document.getElementById('City');

        if (elem.tagName == 'SELECT'){
            var childElem = elem.getElementsByTagName('option')

            childElem[0].value = selectCityid
            childElem[0].innerText = selectCity

        }
        else
            elem.value = selectCity
    }

</script>
