

<footer class="page-footer font-small bg-dark container-fluid footer text-light">


    <div class="container-fluid text-center text-md-left">


        <div class="row">


            <div class="col-md-3 mt-md-0 mt-3">
                <div class="row">
                    <h5><span>&nbsp;EXPO</span></h5>
                </div>

            </div>
            <div class="col-md-3 mt-md-0 mt-3">


                <p>Ежедневно: с 09-00 до 20-00</p>
                <p>Почта</p>

            </div>


            <div class="col-md-6 mt-md-0 mt-6">


                <p>ООО "EXPO"</p>
                <p>195253, г. Москва, адрес</p>

            </div>


        </div>

    </div>


    <!--
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="#">ExpoJob</a>
    </div>
    -->

</footer>



