{% load home_extras %}

<div class="bg-color-dark-grey" style="height: 56px;">
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <a href="{% get_attribute 'HOME_PAGE' %}" class="article-sm" style="color: white; text-decoration: none;">ExpoJob</a>
            <a class="nav-link ml-4 mt-1 text-menu" style="color: white;">8 8 (800) 555-55-55</a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-menu" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  style="color: white;">
                        {% if user.usertype.worker.foto %}
                            <img src="/static/main/media/resize{{user.usertype.worker.foto}}" class="rounded-circle z-depth-0" alt="avatar image" style="max-height: 30px">
                            {{user.usertype.worker.name|title}}
                        {% else %}
                            <span class="fa fa-user"></span> Профиль
                        {% endif %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if user.is_active %}
                            <a class="dropdown-item waves-effect waves-light text-menu" href="/worker/settings/">Настройки</a>
                            <a class="dropdown-item text-menu" href="/accounts/logout/">Выйти</a>
                        {% else %}
                            <a class="dropdown-item text-menu" href="/accounts/login/">Войти</a>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </nav>

    </div>
</div>

<div class="nav bg-color-grey">
    <div class="container">
        <ul class="nav"><!--ml-3-->
            <li class="nav-item">
                <a class="nav-link text-dark text-menu {% if request.path == '/'%}nav-item-expo-active{% endif %}" href="{% get_attribute 'HOME_PAGE' %}" role="button">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark text-menu {% if request.path == '/worker/search/'%}nav-item-expo-active{% endif %}" href="{% get_attribute 'HOME_PAGE' %}worker/search/" role="button">Специалисты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark text-menu" href="#" role="button">Заявки</a>
            </li>
        </ul>
    </div>
</div>