{% load home_extras %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% get_attribute 'HOME_PAGE' %}">EXPO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% get_attribute 'HOME_PAGE' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>

        <div class="btn-group">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if user.is_active %}
                    {{user.username}}
                {% else %}
                   	&#8801 Меню
                {% endif %}
            </button>
            <div class="dropdown-menu dropdown">
                <a class="dropdown-item" href="/worker/settings/">Настройки</a>
                {% if user.is_active %}
                    <a class="dropdown-item" href="/accounts/logout/">Выйти</a>
                {% else %}
                    <a class="dropdown-item" href="/accounts/login/">Войти</a>
                {% endif %}
            </div>
        </div>
      <!--<form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
      </form>-->
    </div>
  </nav>


