{% load home_extras %}
<script>
    var prof_tags = [];
    var city_tags = [];
    var fio_tags  = [];

    $( "#profession" ).autocomplete({
        source: function( request, response ) {
            if (prof_tags.length == 0) {

                $.ajax({
                    url: "{% get_attribute 'HOME_PAGE' %}m/professionlist/",
                    dataType: "json",
                      // параметры запроса, передаваемые на сервер (последний - подстрока для поиска):
                    data:{
                        featureClass: "P",
                        style: "full",
                        maxRows: 12,
                        name_startsWith: request.term
                },
                success: function(data){
                    $.map(data.dataset, function(item){
                        prof_tags.push(item.name)
                    });
                  }
                });
            }
            var matcher = new RegExp( "^" + $.ui.autocomplete.escapeRegex( request.term ), "i" );
            response( $.grep(prof_tags, function( item ){
                return matcher.test( item );
            }) );
        minLength: 2
        }
    });

    $( "#FIO" ).autocomplete({
        source: function( request, response ) {
              fio_tags = [];
                $.ajax({
                    url: "{% get_attribute 'HOME_PAGE' %}m/fiolist/?order="+request.term,
                    dataType: "json",
                      // параметры запроса, передаваемые на сервер (последний - подстрока для поиска):
                    data:{
                        featureClass: "P",
                        style: "full",
                        maxRows: 12,
                        name_startsWith: request.term
                },
                success: function(data){
                    $.map(data.dataset, function(item){
                        fio_tags.push(item.name)
                    });

                    print(fio_tags);  

                    //var matcher = new RegExp( "^" + $.ui.autocomplete.escapeRegex( request.term ), "i" );
                    response( fio_tags);

                  }
                });

        minLength: 3
        }
    });


    $( "#City" ).autocomplete({
        source: function( request, response ) {
            if (city_tags.length == 0) {

                $.ajax({
                    url: "{% get_attribute 'HOME_PAGE' %}m/citylist/",
                    dataType: "json",
                      // параметры запроса, передаваемые на сервер (последний - подстрока для поиска):
                    data:{
                        featureClass: "P",
                        style: "full",
                        maxRows: 12,
                        name_startsWith: request.term
                },
                success: function(data){
                    $.map(data.dataset, function(item){
                        city_tags.push(item.name)
                        //city_Dict[item.name] = item.id;
                    });
                  }
                });
            }
            var matcher = new RegExp( "^" + $.ui.autocomplete.escapeRegex( request.term ), "i" );
            response( $.grep(city_tags, function( item ){
                return matcher.test( item );
            }) );
        minLength: 2
        }
    });
</script>
