<div class="alert alert-dark container mt-3">
        <!-- HTML форма -->
        <div class="row">
            <div class="col">
                <h3 class="text-dark">Найди подходящего специалиста</h3>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <form class="form-search" method="post" action="/worker/search/">
                    {% csrf_token %}
                    <div class="row form-search">
                        <div class="col col-6">
                            <input id="Profession" name = "Profession" type="text" data-toggle="dropdown" class="input-medium search-query form-control" placeholder="Введите профессию для поиска">
                        </div>
                        <div class="col col-4 input-group">
                            <input id="inputCity" name = "inputCity" type="text" data-toggle="dropdown" class="input-medium search-query form-control" placeholder="Город">
                            <div class="input-group-append">
                                <button class="btn bg-dark text-light" type="button" data-toggle="modal" data-target="#myModal">Подбор</button>
                            </div>
                        </div>
                        <div class="col col-2">
                            <button type="submit" class="btn btn-danger container-fluid" >Найти</button>
                        </div>
                    </div>
                    {% include "includes/Prof_Search_Script.html" %}
                    {% include "includes/citySearch.html" %}
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="/worker/search/" class="text-dark">Расширенный поиск</a>
            </div>
        </div>
    </div>
