            {% for worker in Workers %}

                <div class="row" >

                    <div class="col col-9">

                        <div class="row" >
                            <div class="col">
                                <div class="product">
                                    <div class="product-img">
                                        {% if worker.fotourl %}
                                            <a href="{{ worker.url }}"><img src="{{ worker.fotourl }}" height="150px" alt=""></a>
                                        {% else %}
                                            <a href="/worker/{{ worker.id }}"><img src="/static/main/img/Foto.jpg" height="150px" alt=""></a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col col-6">

                                <p class="product-title">
                                    <h3><a href="{{ worker.url }}" class="text-dark">{{ worker.name }} {{ worker.surname }}</a></h3>
                                </p>
                                <p class="text-dark">

                                    {% for prof in worker.proflist %}
                                        {{ prof.name }},
                                    {% endfor %}

                                </p>
                                {% if worker.isonline %}
                                    <p><h5 class="text-success">Онлайн</h5></p>
                                {% endif %}

                                <p class="text-dark"></p>

                            </div>

                        </div>
                        {% include "includes/portfolio.html" %}

                        {% if worker.servicelist %}
                            <p>
                                <h5 class="text-dark">Услуги и цены:</h5>
                            </p>
                            <div class="row" >
                                <div class="col">
                                    <table class="table table-sm">
                                      <tbody>
                                        {% for service in worker.servicelist %}
                                            <tr>
                                              <td>{{ service.service }}</td>
                                              <td>{{ service.price }}р.</td>
                                            </tr>
                                        {% endfor %}
                                      </tbody>
                                    </table>

                                </div>
                            </div>
                        {% endif %}
                        {% if worker.description %}
                            <p>
                                <h5 class="text-dark">О себе:</h5>
                            </p>
                            <div class="row">
                                <div class="col">
                                    {{ worker.description }}</div>
                            </div>
                        {% endif %}
                    </div>

                    <div class="col col-3">

                        <span class="input-group-btn">
                            {% if user.is_active %}
                                <button type="submit" class="btn btn-danger">Написать сообщение</button>
                            {% else %}
                                <button type="submit" class="btn btn-secondary">Написать сообщение</button>
                            {% endif %}
                        </span>

                        <div class="row">
                            <div class="col">
                                <div class="text-danger">
                                    <H2>{{ worker.rating }}</H2>
                                </div>
                                <div class="text-dark">
                                    Рейтинг
                                </div>
                            </div>
                            <div class="col">
                                <div class="text-danger">
                                    <H2>{{worker.commentscount}}</H2>
                                </div>
                                <div class="text-dark">
                                    Отзывов
                                </div>
                            </div>
                        </div>
                        <p></p>
                        <div class="row">
                            <div class="col">
                                <table class="table table-sm">
                                  <tbody>
                                    <tr>
                                      <td>Опыт работы</td>
                                      <td> {{ worker.experiencewith }}</td>
                                    </tr>
                                    <tr>
                                      <td>Город</td>
                                      <td>{{ worker.city }}</td>
                                    </tr>
                                    <tr>
                                      <td>Данные проверены</td>
                                      <td>
                                          {% if worker.datacheck %}
                                            <H2 class="text-success">+</H2>
                                          {% else %}
                                            <H2 class="text-danger">-</H2>
                                          {% endif %}
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>Наличие ИП</td>
                                      <td>
                                        {% if worker.haveip %}
                                            <H2 class="text-success">+</H2>
                                          {% else %}
                                            <H2 class="text-danger">-</H2>
                                          {% endif %}
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>Проверка ФСО</td>
                                      <td>
                                          {% if worker.fsocheck %}
                                            <H2 class="text-success">+</H2>
                                          {% else %}
                                            <H2 class="text-danger">-</H2>
                                          {% endif %}
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>Разрешение на работу</td>
                                      <td>
                                          {% if worker.workpermit %}
                                            <H2 class="text-success">+</H2>
                                          {% else %}
                                            <H2 class="text-danger">-</H2>
                                          {% endif %}
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>Аттестация СРО СВЗ</td>
                                      <td> <H2 class="text-success">+</H2> </td>
                                    </tr>
                                  </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="row ">
                    <div class="col">
                        <hr class="text-dark bg-dark" style="border: none; height: 2px;">
                    </div>
                </div>

            {% endfor %}