{% extends "adminexpo/wrapper.html" %}
{% load home_extras %}
{% block content%}

    <div class="container">
        <form name="settingsform" id="settingsform">

            {% csrf_token %}

            <h3 class="mt-5">Заявки на регистрацию</h3>

            <table class="table table-hover">
                <thead class="thead-default">
                <tr>
                    <th style="width: 5px"></th>
                    <th>Наименование</th>
                    <th>Номер телефона</th>
                    <th>Email</th>
                    <th>ИНН</th>
                    <th>Заблокирован</th>
                    <th>Действия</th>
                </tr>
                </thead>
                <tbody id = 'tbodyServices'>
                {% for worker in dataset %}
                        <tr id="tr_{{ forloop.counter }}">
                            <td style="width: 5px">{{ forloop.counter }} </td>
                            <td>{{worker.name}}</td>
                            <td>{{worker.phone}}</td>
                            <td>{{worker.email}}</td>
                            <td>{{worker.vatnumber}}</td>
                            <td><select id='status_{{ worker.id }}' disabled>
                              <option value="0" {% if worker.status == 0 %} selected {% endif %}></option>
                              <option value="1" {% if worker.status == 1 %} selected {% endif %}>Одобрено</option>
                              <option value="2" {% if worker.status == 2 %} selected {% endif %}>Отказ</option>
                            </select>
                            </td>
                              <td>
                                  {% if worker.status != 1 %}
                                    <button type="button" id = "edit_{{worker.id}}" onclick=edit_tr("{{ worker.id }}")>
                                        <i class="fa fa-pencil" aria-hidden="true">
                                        </i>
                                    </button>
                                    <button type="button" id = "save_{{worker.id}}" onclick=save_tr("{{ worker.id }}")>
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                    </button>
                                  {% endif %}
                              </td>

                        </tr>
                {% endfor %}
                </tbody>
            </table>
        </form>
    </div>

    <script>

    function edit_tr(id) {

        var id          = id;
        var block   = document.getElementById("status_"+id);

        if (block != null) {block.disabled  = !block.disabled;}

    }

    function save_tr(id) {

        var id = id;

        var json = JSON.stringify({
            id: id,
            status: document.getElementById("status_"+id).value,
        });

        formsave(json)
    }

    function formsave(json) {

        var formData = new FormData();
        var json = json;

        // добавить к пересылке ещё пару ключ - значение
        formData.append("data", json);
        formData.append("csrfmiddlewaretoken", document.getElementsByName("csrfmiddlewaretoken")[0].value);

        console.log(formData);

        // отослать
        var xhr = new XMLHttpRequest();

        xhr.onreadystatechange = function() { // (3)
            if (xhr.readyState != 4) return;

            if (xhr.status != 200) {

                location.href = (xhr.responseText);
            } else {
                console.log(xhr.responseText);
                location.href = (xhr.responseText);
            }
        }

        xhr.open("POST", "", true);
        xhr.send(formData);
    }

</script>

{% endblock %}
