{% extends "adminexpo/wrapper.html" %}
{% load home_extras %}
{% block content%}

    <div class="container">
        <form name="settingsform" id="settingsform">

            {% csrf_token %}

            <h3 class="mt-5">Специалисты</h3>

            <table class="table table-hover">
                <thead class="thead-default">
                <tr>
                    <th style="width: 5px"></th>
                    <th>Кто писал</th>
                    <th>Кому писал</th>
                    <th>Текст</th>
                    <th>Оценка</th>
                    <th>Профессия</th>
                    <th>Опубликовать</th>
                    <th>Действия</th>
                </tr>
                </thead>
                <tbody id = 'tbodyServices'>
                {% for comment in dataset %}
                        <tr id="tr_{{ forloop.counter }}">
                            <td style="width: 5px">{{ forloop.counter }} </td>
                            <td><a href="{{ comment.user.url }}" class="text-danger"> {{comment.user.name}}</a></td>
                            <td><a href="{{ comment.worker.url }}" class="text-danger"> {{comment.worker.name}}</a></td>
                            <td>{{ comment.text }}</td>
                            <td>{{ comment.rating }}</td>
                            <td>{{ comment.profession }}</td>
                            <td><input id = "block_{{comment.id}}" type="checkbox" {% if comment.moderation %}checked{% endif %} hidden>{% if comment.moderation %}<i id = "i_fsocheck_{{comment.id}}" class="text-success fa fa-check" aria-hidden="true"></i>{% endif %}</td>
                            <td>
                                <button type="button" id = "edit_{{comment.id}}" onclick=edit_tr("{{ comment.id }}")>
                                    <i class="fa fa-pencil" aria-hidden="true">
                                    </i>
                                </button>
                                <button type="button" id = "save_{{comment.id}}" onclick=save_tr("{{ comment.id }}")>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                {% endfor %}
                </tbody>
            </table>
        </form>
    </div>

    <script>

    function edit_tr(id) {

        var id          = id;
        var block   = document.getElementById("block_"+id);
        var i_block = document.getElementById("i_block_"+id);

        if (block != null) {block.hidden    = !block.hidden;}
        if (i_block != null) {i_block.hidden    = !i_block.hidden;}

    }

    function save_tr(id) {

        var id = id;

        var json = JSON.stringify({
            id: id,
            moderation: document.getElementById("block_"+id).checked,
        });
        formsave(json)
    }

    function formsave(json) {

        var formData = new FormData();
        var json = json;

        // добавить к пересылке ещё пару ключ - значение
        formData.append("data", json);
        formData.append("csrfmiddlewaretoken", document.getElementsByName("csrfmiddlewaretoken")[0].value);

        // отослать
        var xhr = new XMLHttpRequest();

        xhr.onreadystatechange = function() { // (3)
            if (xhr.readyState != 4) return;

            if (xhr.status != 200) {
                location.href = (xhr.responseText);
            } else {
                location.href = (xhr.responseText);
            }
        }

        xhr.open("POST", "", true);
        xhr.send(formData);
    }

</script>

{% endblock %}