{% extends "adminexpo/wrapper.html" %}
{% load home_extras %}
{% block content%}

    <div class="container">
        <form name="settingsform" id="settingsform">

            {% csrf_token %}

            <h3 class="mt-5">Специалисты</h3>

            <table class="table table-hover">
                <thead class="thead-default">
                <tr>
                    <th style="width: 5px"></th>
                    <th>ФИО</th>
                    <th>Номер телефона</th>
                    <th>Email</th>
                    <th>Проверка пройдена</th>
                    <th>Проверка ФСО</th>
                    <th>Заблокирован</th>
                    <th>Действия</th>
                </tr>
                </thead>
                <tbody id = 'tbodyServices'>
                {% for worker in dataset %}
                        <tr id="tr_{{ forloop.counter }}">
                            <td style="width: 5px">{{ forloop.counter }} </td>
                            <td><a href="{{ worker.url }}" class="text-danger"> {{worker.name}} {{worker.surname}}</a></td>
                            <td>{{worker.phonenumber}}</td>
                            <td>{{worker.emailaddress}}</td>
                            <td><input id = "datacheck_{{worker.id}}" type="checkbox" {% if worker.datacheck %}checked{% endif %} hidden>{% if worker.datacheck %}<i id = "i_datacheck_{{worker.id}}" class="text-success fa fa-check" aria-hidden="true"></i>{% endif %}</td>
                            <td><input id = "fsocheck_{{worker.id}}" type="checkbox" {% if worker.fsocheck %}checked{% endif %} hidden>{% if worker.fsocheck %}<i id = "i_fsocheck_{{worker.id}}" class="text-success fa fa-check" aria-hidden="true"></i>{% endif %}</td>
                            <td><input id = "block_{{worker.id}}" type="checkbox" {% if worker.block %}checked{% endif %} hidden>{% if worker.block %}<i id = "i_fsocheck_{{worker.id}}" class="text-danger fa fa-check" aria-hidden="true"></i>{% endif %}</td>
                            <td>
                                <button type="button" id = "edit_{{worker.id}}" onclick=edit_tr("{{ worker.id }}")>
                                    <i class="fa fa-pencil" aria-hidden="true">
                                    </i>
                                </button>
                                <button type="button" id = "save_{{worker.id}}" onclick=save_tr("{{ worker.id }}")>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                {% endfor %}
                </tbody>
            </table>
        </form>
    </div>

    <script>

    function edit_tr(id) {

        var id          = id;
        var datacheck   = document.getElementById("datacheck_"+id);
        var i_datacheck = document.getElementById("i_datacheck_"+id);
        var fsocheck   = document.getElementById("fsocheck_"+id);
        var i_fsocheck = document.getElementById("i_fsocheck_"+id);
        var block   = document.getElementById("block_"+id);
        var i_block = document.getElementById("i_block_"+id);

        if (datacheck != null) {datacheck.hidden    = !datacheck.hidden;}
        if (i_datacheck != null) {i_datacheck.hidden    = !i_datacheck.hidden;}
        if (fsocheck != null) {fsocheck.hidden    = !fsocheck.hidden;}
        if (i_fsocheck != null) {i_fsocheck.hidden    = !i_fsocheck.hidden;}
        if (block != null) {block.hidden    = !block.hidden;}
        if (i_block != null) {i_block.hidden    = !i_block.hidden;}

    }

    function save_tr(id) {

        var id = id;

        var json = JSON.stringify({
            id: id,
            datacheck: document.getElementById("datacheck_"+id).checked,
            fsocheck: document.getElementById("fsocheck_"+id).checked,
            block: document.getElementById("block_"+id).checked,
        });
        formsave(json)
    }

    function formsave(json) {

        var formData = new FormData();
        var json = json;

        // добавить к пересылке ещё пару ключ - значение
        formData.append("data", json);
        formData.append("csrfmiddlewaretoken", document.getElementsByName("csrfmiddlewaretoken")[0].value);

        // отослать
        var xhr = new XMLHttpRequest();

        xhr.onreadystatechange = function() { // (3)
            if (xhr.readyState != 4) return;

            if (xhr.status != 200) {
                location.href = (xhr.responseText);
            } else {
                location.href = (xhr.responseText);
            }
        }

        xhr.open("POST", "", true);
        xhr.send(formData);
    }

</script>

{% endblock %}