{% extends "adminexpo/wrapper.html" %}
{% load home_extras %}
{% block content%}

    <div class="container">
      <h3 class="mt-5">Специалисты</h3>
      <form name="settingsform" id="settingsform">

          {% csrf_token %}
          <div class="mt-3" id="example-table">



          </div>
      </form>

    </div>

    <script>

    function save_tr(data) {

        var json = JSON.stringify({
            id: data.id,
            datacheck: data.datacheck,
            block: data.block
        });
        formsave(json)
    }

    function formsave(json) {

        var formData = new FormData();
        var json = json;
        // добавить к пересылке ещё пару ключ - значение
        formData.append("data", json);
        formData.append("csrfmiddlewaretoken", document.getElementsByName("csrfmiddlewaretoken")[0].value);
        // отослать
        var xhr = new XMLHttpRequest();

        xhr.onreadystatechange = function() { // (3)
            if (xhr.readyState != 4) return;

            if (xhr.status != 200) {
                alert("Не удалось сохранить изменения");
            } else {
                alert("Изменения успешно сохранены");
            }
        }

        xhr.open("POST", "", true);
        xhr.send(formData);
    }

</script>

{% endblock %}
