{% extends "wrapper.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}


<div class="card text-center col-sm-6 container">
  <div class="card-header">
        <h1>{% trans "Сбросить пароль" %}</h1>
  </div>
  <div class="card-body">
    <h5 class="card-title">

    </h5>

    <p class="card-text"></p>


    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>Забыли пароль? Введите свой адрес электронной почты ниже, и мы отправим вам электронное письмо, которое позволит вам его сбросить.</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-danger" value="{% trans 'Сбросить пароль' %}" />
    </form>

    <p>{% blocktrans %}Если у вас возникли проблемы со сбросом пароля, свяжитесь с нами.{% endblocktrans %}</p>


    </div>
</div>

{% endblock %}
