

{% extends "wrapper.html" %}
{% load home_extras %}
{% block content %}

<div style="left: 50%; top: 50%; position: absolute; margin: -350px 0 0 -250px;">

    <div class="card" style="width: 500px; border-radius: 0px">
        <div class="card-header text-center">
            <span class="article">Регистрация</span>
        </div>
        <div class="card-body">
            <form action="" method="post" id = "signupform" name="signupform" novalidate>
                {% csrf_token %}

                <div class="form-group row">
                    <label for="id_username" class="col-sm-4 col-form-label">Телефон</label>
                    <div class="col-sm-8">
                        <input style="border-radius: 0px" name="username" type="text" class="form-control" id="id_username" placeholder="Номер телефона" value="{{ username }}" required {% if confirmphone %} readonly {% endif %}>
                        {% if errors.username %}
                            <span style="color: red; font-size: 10px">{{ errors.username }}</span>
                        {% endif %}
                    </div>
                </div>

                {% if confirmphone %}
                    <div class="form-group row">
                        <label for="id_confirmphone" class="col-sm-4 col-form-label">Код подтверждения</label>
                        <div class="col-sm-8">
                            <input style="border-radius: 0px" name="confirmphone" type="text" class="form-control" id="id_confirmphone" placeholder="Код подтверждения" required>
                            {% if errors.confirmphone %}
                                <span style="color: red; font-size: 10px">{{ errors.confirmphone }}</span>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

                <div class="form-group row" {% if confirmphone %} hidden {% endif %}>
                    <label for="id_password1" class="col-sm-4 col-form-label">Пароль</label>
                    <div class="col-sm-8">
                        <input style="border-radius: 0px" name="password1" type="password" class="form-control" id="id_password1" placeholder="Пароль" value="{{ password1 }}" required>
                        {% if errors.password1 %}
                            <span style="color: red; font-size: 10px">{{ errors.password1 }}</span>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group row" {% if confirmphone %} hidden {% endif %}>
                    <label for="id_password2" class="col-sm-4 col-form-label">Повторите пароль</label>
                    <div class="col-sm-8">
                        <input style="border-radius: 0px" name="password2" type="password" class="form-control" id="id_password2" placeholder="Пароль" value="{{ password2 }}" required>
                        {% if errors.password2 %}
                            <span style="color: red; font-size: 10px">{{ errors.password2 }}</span>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group row" {% if confirmphone %} hidden {% endif %}>
                    <label class="ml-3 checkbox-container">
                        <input class="" id="id_personaldataisallowed" value="True" required type="checkbox" name="personaldataisallowed" {% if personaldataisallowed %}checked{% endif %}>
                        <span class="checkmark"></span>
                        <label for="id_personaldataisallowed" class="col-xs-2 control-label input-medium">
                            <span class="ui-checkbox__content">
                                Ознакомлен и согласен с условиями <a style="color: #d21c43; text-decoration: none" href="{% get_attribute 'HOME_PAGE' %}privacy-policy/" target="_blank">обработки&nbsp;персональных&nbsp;данных</a> <!-- -->в полном объеме.
                            </span>
                        </label>
                    </label>
                </div>

                <div class="form-group row">
                    <div class="col col-6"></div>
                    <div class="col col-6">
                        <button type="submit" class="btn btn-danger container-fluid">Зарегистрироваться</button>
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>

    <script>

        $(function(){
                      //2. Получить элемент, к которому необходимо добавить маску
                      $("#id_username").mask("8(999) 999-9999");
                    });

        {% if confirmphone %}

        {% endif %}

    </script>

{% endblock %}
