{% extends "wrapper.html" %}
{% load home_extras %}

{% block content%}

    <div style="left: 50%; top: 50%; position: absolute; margin: -250px 0 0 -250px;">
        <div class="container text-center">
            <p><span class="article" style="color: #d21c43;">403</span></p>
            <p><span class="article article-sm" style="">Прекрасная страница, но доступ к ней запрещен</span></p>
            <p><a href="{% get_attribute 'HOME_PAGE' %}" type="" class="btn btn-danger btn-lg">На главную</a></p>
        </div>
    </div>

{% endblock %}