{% extends "wrapper.html" %}
{% load home_extras %}

{% block content%}

    <div style="left: 50%; top: 50%; position: absolute; margin: -250px 0 0 -250px;">
        <div class="container text-center">
            <!--<p><span class="article" style="color: #d21c43;">403</span></p>-->

            <p><span class="article article-sm" style="">Заявка принята</span></p>

            <div class="row">

	            Дождитесь ответа менеджера для завершения регистрации

	        	</div>

	        </div>

        </div>
    </div>

{% endblock %}
