{% extends "wrapper.html" %}
{% load home_extras %}
{% load i18n %}

{% block content%}

    {% if user.is_active %}

            <div class="container mt-3">

              <div id="div_{{ n.id }}">

                <div class="row pt-3 mr-3" style="margin: 5px">
                    <div class="col col-4">
                        <span class="text-menu-grey">Описание</span>
                    </div>
                    <div class="col col-8">
                        <span>{{ n.description }}</span>
                    </div>
                </div>

                  <div class="row pt-3 mr-3" style="margin: 5px">
                      <div class="col col-4 col-md-4">
                          <span class="text-menu-grey">Место проведения</span>
                      </div>
                      <div class="col col-6 col-md-4">
                          <span class="text-menu txt-bold" id="job_city_{{ n.id }}">{{ n.city__name }}</span>
                      </div>

                      {% if user.is_active and userType == 1%}
                      <div class="col col-2 col-md-4">
                          {% if n.response_is_available == 1 %}
                              <button class="btn btn-danger container-fluid" type="button" onclick="get_job_data(this)" style=" border-radius: 0px; margin-top: -13px" data-toggle="modal" data-target="#addResponse" id = '{{ n.id }}'>Откликнуться</button>
                          {% else %}
                              <button class="btn btn-secondary bg-white text-dark container-fluid" type="button" style="margin-top: -13px; border-radius: 0px" id = '{{ n.id }}'>Отклик отправлен</button>
                          {% endif %}
                      </div>
                      {% endif %}
                  </div>
                  <div class="row pt-3 mr-3" style="margin: 5px">
                      <div class="col col-4">
                          <span class="text-menu-grey">Дата проведения</span>
                      </div>
                      <div class="col col-8">
                          <div class="row">
                            <div class="col col-6">
                              <span class="text-menu txt-bold" id ="job_date_{{ n.id }}">с {{ n.date|date:"j.m.Y" }}</span>
                            </div>
                            <div class="col col-6">
                              <span class="text-menu txt-bold" id ="job_enddate_{{ n.id }}">по {{ n.enddate|date:"j.m.Y" }}</span>
                            </div>
                          </div>
                      </div>
                  </div>

                  {% if  n.job_composition %}

                  <div class="row pt-3 mr-3" style="margin: 5px">
                      <div class="col col-4">
                          <span class="text-menu-grey">Требуются</span>
                      </div>
                      <div class="col col-8">

                          <table class="table table-bordered">
                              <thead>
                                  <tr>
                                      <th><span class="text-menu txt-bold">Профессия</span></th>
                                      <th><span class="text-menu txt-bold">Количество</span></th>
                                      <th><span class="text-menu txt-bold">Ставка (руб./д.)</span></th>
                                  </tr>
                              </thead>
                              <tbody>

                                  {% for e in n.job_composition %}
                                  <tr>
                                      <td>{{ e.profession__name }}</td>
                                      <td>{{ e.count }}</td>
                                      <td>{{ e.price }}</td>
                                  </tr>
                                  {% endfor %}

                              </tbody>
                          </table>
                      </div>
                  </div>

                  {% endif %}

                  <div class="row color-dark-grey mb-3 pr-4">
                      <div class="col col-6">
                      </div>
                      <div class="col col-4 text-right" id ="job_company_{{ n.id }}">
                          {{ n.company__name }}
                      </div>
                      <div class="col col-2 text-right" >
                          {{ n.created|date:"j.m.Y f" }}
                      </div>
                  </div>

                  <div class="ml-3">
                      <div class="row">
                          <div class="col col-2">
                            <label class="article-sm">Отклики
                                {% if n.responseCount %}
                                  ({{ n.responseCount }})
                                {% else %}
                                  (Откликов нет)
                                {% endif %}
                            </label>
                          </div>

                      </div>

                      <div class="border">

                      {% for comment in n.response_array %}


                                  <div class="row">
                                      <div class="col col-2 text-center">
                                           <div class="product-img mt-3" style="height: 50px;">
                                               <img id ="fotourl" style="max-width:100%; border-radius: 5px; margin-left: auto; margin-right: auto; display: block; max-height:50px" src="{{  comment.photo }}" alt="">

                                           </div>
                                           <a class="article text-danger" href="{{ comment.workerurl }}">
                                                  {{ comment.worker }}
                                                </a>
                                      </div>

                                      <div class="col col-10 text-center">
                                          <span class="text-menu txt-bold">{{ comment.description }}</span>
                                      </div>
                                  </div>


                          <div class="row ">
                              <div class="col">
                                  <hr class="bg-color-dark-grey" style="border: none; height: 1px;">
                              </div>
                          </div>

                      {% endfor %}

                      </div>

                  </div>

              </div>

            </div>

    {% endif %}

{% endblock %}
