{% extends "wrapper.html" %}
{% load home_extras %}
{% load i18n %}

{% block content%}
    <div class="container mt-3">

        <div class="row mb-1 pl-3">
            <div class="col-8">
                <span class="article">Все заявки</span>
            </div>
            <div class="col-4">
                <div class="row" style="margin-right: -2em">
                    <!--<div class="col-4" style="line-height: 3.4em;">
                        <label for="inputsorting" class="text-menu">Сортировка</label>
                    </div>
                    <div class="col-8">
                        <div class="btn-group mt-2" role="group" aria-label="Basic example">
                          <button type="button" class="btn">По дате проведения</button>
                          <button type="button" class="btn">По дате добавления</button>
                        </div>
                    </div>-->
                </div>
            </div>

        </div>

        <table class="table table-hover">
            <tbody>
            {% for n in jobsList %}
                <tr>
                    <td scope="row">

                        <div id="div_{{ n.id }}">

                            <div class="row pt-3 mr-3" style="margin: 5px">
                                <div class="col col-4 col-md-4">
                                    <span class="text-menu-grey">Место проведения</span>
                                </div>
                                <div class="col col-6 col-md-4">
                                    <span class="text-menu txt-bold" id="job_city_{{ n.id }}">{{ n.city__name }}</span>
                                </div>

                                {% if user.is_active and userType == 1%}
                                <div class="col col-2 col-md-4">
                                    {% if n.response_is_available == 1 %}
                                        <button class="btn btn-danger container-fluid" type="button" onclick="get_job_data(this)" style=" border-radius: 0px; margin-top: -13px" data-toggle="modal" data-target="#addResponse" id = '{{ n.id }}'>Откликнуться</button>
                                    {% else %}
                                        <button class="btn btn-secondary bg-white text-dark container-fluid" type="button" style="margin-top: -13px; border-radius: 0px" id = '{{ n.id }}'>Отклик отправлен</button>
                                    {% endif %}
                                </div>
                                {% endif %}
                            </div>
                            <div class="row pt-3 mr-3" style="margin: 5px">
                                <div class="col col-4">
                                    <span class="text-menu-grey">Дата проведения</span>
                                </div>
                                <div class="col col-8">
                                    <div class="row">
                                      <div class="col col-6">
                                        <span class="text-menu txt-bold" id ="job_date_{{ n.id }}">с {{ n.date|date:"j.m.Y" }}</span>
                                      </div>
                                      <div class="col col-6">
                                        <span class="text-menu txt-bold" id ="job_enddate_{{ n.id }}">по {{ n.enddate|date:"j.m.Y" }}</span>
                                      </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row pt-3 mr-3" style="margin: 5px">
                                <div class="col col-4">
                                    <span class="text-menu-grey">Описание</span>
                                </div>
                                <div class="col col-8">
                                    <span>{{ n.description }}</span>
                                </div>
                            </div>

                            {% if  n.job_composition %}

                            <div class="row pt-3 mr-3" style="margin: 5px">
                                <div class="col col-4">
                                    <span class="text-menu-grey">Требуются</span>
                                </div>
                                <div class="col col-8">

                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th><span class="text-menu txt-bold">Профессия</span></th>
                                                <th><span class="text-menu txt-bold">Количество</span></th>
                                                <th><span class="text-menu txt-bold">Ставка (руб./д.)</span></th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            {% for e in n.job_composition %}
                                            <tr>
                                                <td>{{ e.profession__name }}</td>
                                                <td>{{ e.count }}</td>
                                                <td>{{ e.price }}</td>
                                            </tr>
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            {% endif %}

                            <div class="row color-dark-grey mb-3 pr-4">
                                <div class="col col-4">
                                </div>
                                <div class="col col-4 text-right" id ="job_company_{{ n.id }}">
                                    {{ n.company__name }}
                                </div>
                                <div class="col col-2 text-right" >
                                    {{ n.created|date:"j.m.Y f" }}
                                </div>
                                <div class="col col-2 text-right pr-4" >
                                    <span class="badge {% if n.responseCount %}badge-success{% else %}badge-grey{% endif %}" style="font-family: sans-serif;">{% if n.responseCount %}{{ n.responseCount }} отклик(а){% else %}Откликов нет{% endif %}</span>
                                </div>
                            </div>

                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

    {% if user.is_active %}

        {% if  userType == 2 %}
            <div style="position: fixed; bottom: 50px; right: 50px; z-index: 10;">
                <a href="/jobs/new/" class="btn btn-danger btn-lg fa fa-plus-circle" style="">Добавить заявку</a>
            </div>
        {% endif %}

        <div class="modal fade" id="addResponse" tabindex="-1" role="dialog" aria-labelledby="addResponseLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">

                    {% if  userType == 1 %}
                        <div class="modal-header">
                            <span class="article">Новый отклик</span>
                            <button type="button" class="close" data-dismiss="addResponse" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form id="form" name = "form">
                            <div class="modal-body" style="width: 100%; overflow: auto;">

                                <div class="row">

                                    <div class = "col">

                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div>
                                                    <input id="job_id" hidden name="job_id"></input>
                                                    <div class="row mr-3" style="margin: 5px">
                                                        <div class="col col-6">
                                                            <span class="text-menu-grey">Место проведения</span>
                                                        </div>
                                                        <div class="col col-6">
                                                            <span class="text-menu txt-bold" id="job_city">--</span>
                                                        </div>

                                                    </div>
                                                    <div class="row pt-3 mr-3" style="margin: 5px">
                                                        <div class="col col-6">
                                                            <span class="text-menu-grey">Дата проведения</span>
                                                        </div>
                                                        <div class="col col-6">
                                                            <span class="text-menu txt-bold" id="job_date">--</span>
                                                        </div>
                                                    </div>
                                                    <div class="row pt-3 mr-3" style="margin: 5px">
                                                        <div class="col col-6">
                                                            <span class="text-menu-grey">Компания</span>
                                                        </div>
                                                        <div class="col col-6">
                                                            <span class="text-menu txt-bold" id="job_company">--</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row"  style="padding-top: 5px">
                                                    <div class="col">
                                                        <textarea required name="job_description" class="form-control" rows="5" placeholder="Напишите почемы мы должны выбрать именно вас" id="job_description"></textarea>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                                                <button type="submit" class="btn btn-danger">Отправить</button>
                                            </div>

                                            <script>

                                                $('#form').validate({

                                                    submitHandler: function(form) {
                                                        saveResponse();
                                                        }
                                                    }
                                                );

                                                function get_job_data(btn){
                                                    var id = btn.id;
                                                    document.getElementById('job_city').innerText       = document.getElementById('job_city_'+id).innerText;
                                                    document.getElementById('job_date').innerText       = document.getElementById('job_date_'+id).innerText;
                                                    document.getElementById('job_company').innerText    = document.getElementById('job_company_'+id).innerText;
                                                    document.getElementById('job_id').value             = id;
                                                }

                                                function saveResponse() {

                                                    var formData = new FormData();

                                                    //Собираем конечный JSON

                                                    var json = JSON.stringify({
                                                        job_id: document.getElementById("job_id").value,
                                                        job_description: document.getElementById("job_description").value
                                                    });

                                                    // добавить к пересылке ещё пару ключ - значение
                                                    formData.append("data", json);
                                                    formData.append("csrfmiddlewaretoken", document.getElementsByName("csrfmiddlewaretoken")[0].value);

                                                    // отослать
                                                    var xhr = new XMLHttpRequest();

                                                    xhr.onreadystatechange = function() { // (3)

                                                        if (xhr.readyState != 4) return;

                                                        if (xhr.status != 200) {
                                                            location.href = (xhr.responseText);
                                                        } else {
                                                            location.href = (xhr.responseText);
                                                        }
                                                    }

                                                    xhr.open("POST", "{% get_attribute 'HOME_PAGE' %}jobs/save/", true);
                                                    xhr.send(formData);
                                                }
                                            </script>
                                    </div>
                                </div>

                            </div>


                        </form>
                    {% endif %}

                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
