{% extends "wrapper.html" %}
{% load home_extras %}
{% load i18n %}

{% block content%}
    <div class="container mt-3 mb-3">

        <div class="card">

            <div class="card-header">
                <div class="row mb-1 pl-3">
                    <div class="col-8">
                        <span class="article article-sm">Сообщения: {{messageData.companion}}</span>
                    </div>
                </div>
            </div>
            <div class="card-body table-responsive" style="max-width: 100%; max-height: 400px; overflow-x: auto;overflow-y: auto">
                <table onLoad="windowscroll()" id = "MessageTable" name = "MessageTable" class="" style="width: 99%; white-space: nowrap;">
                    <tbody id="MessageTBody">
                        <tr hidden id="MessageTemplate">
                            <td>
                                <div class="row" style="padding-right: 10px; float: right; max-width: 400px; white-space: normal">
                                    <div class="col alert alert-primary">
                                        <span></span>
                                        <div style="font-size: 8px"><span></span></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% if messageData.messageList|length > 0 %}
                        {% for n in messageData.messageList %}
                            <tr>
                                <td>
                                {% if n.itsMe%}
                                    <div class="row" style="padding-right: 10px; float: right; min-width: 200px; max-width: 400px; white-space: normal">
                                        <div class="col alert alert-primary">
                                            {{n.text}}
                                            <div style="font-size: 8px">{{n.created}}</div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="row" style="float: left; min-width: 200px; max-width: 400px; white-space: normal;">
                                        <div class="col alert alert-secondary">
                                            {{n.text}}
                                            <div style="font-size: 8px">{{n.created}}</div>
                                        </div>
                                    </div>
                                {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <div class="text-center" align="center" id = 'EmptyTemplate'>
                            <div>
                                <img src="{% get_attribute 'STATIC_URL' %}main/img/1-2-grey.png">
                            </div>
                            <div>
                                <span class="article article-sm"> Нет ни одного сообщения </span>
                            </div>
                            <div>
                                <span> Чтобы начать диалог введите сообщение в поле и нажмите отправить</span>
                            </div>
                        </div>
                    {% endif %}
                        <tr id='MessagePosition'>
                            <td>
                                <p><a id = "position" name="position"></a></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <form method="POST" name="form" id="form">
                    {% csrf_token %}
                    <input id = "dialogID" type="" name="dialogID" hidden value={{messageData.dialogID}}>
                    <div class="row">
                        <div class="col col-9">
                            <input placeholder = "Введите сообщение" id = "message" class="form-control" autocomplete="off" type="text" name="message" required="true">
                        </div>
                        <div class="col col-3">
                            <button class = "btn btn-danger container-fluid" type="submit">Отправить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <script>


            $('#form').validate({
                submitHandler: function(form) {
                    sendmessage();
                }
            }
            );

            function addNewMessage(status, text) {
              {% if messageData.messageList|length == 0 %}
                let emptyTemplate       = document.getElementById('EmptyTemplate');
                emptyTemplate.hidden    = true;
              {% endif %}
                let messagePosition = document.getElementById('MessagePosition');
                let messageText     = document.getElementById('message');
                let messageTBody    = document.getElementById('MessageTBody');
                let messageTemplate = document.getElementById('MessageTemplate').cloneNode(true);

                messageText.value = '';

                messageTemplate.id      = '';
                messageTemplate.hidden  = false;

                if (status) {
                    data = JSON.parse(text);

                    if (data['status']){
                        messageTemplate.getElementsByTagName('span')[0].innerText = data['message']['text'];
                        messageTemplate.getElementsByTagName('span')[1].innerText = data['message']['created'];
                    }else{
                        messageTemplate.getElementsByTagName('span')[0].innerText = data['errors'];
                    }
                }
                else{
                    messageTemplate.getElementsByTagName('span')[0].innerText = text;
                }

                messageTBody.insertBefore(messageTemplate, messagePosition);
                location.href = ('#position');
            }

            function sendmessage() {

                var formData = new FormData();

                //Собираем конечный JSON
                var json = JSON.stringify({
                    dialogID: document.getElementById("dialogID").value,
                    message: document.getElementById("message").value,
                });

                // добавить к пересылке ещё пару ключ - значение
                formData.append("data", json);
                formData.append("csrfmiddlewaretoken", document.getElementsByName("csrfmiddlewaretoken")[0].value);

                // отослать
                var xhr = new XMLHttpRequest();

                xhr.onreadystatechange = function() { // (3)
                    if (xhr.readyState != 4) return;

                    if (xhr.status != 200) {
                        addNewMessage(false, xhr.statusText)
                    } else {
                        addNewMessage(true, xhr.responseText)
                    }
                }

                xhr.open("POST", "{% get_attribute 'HOME_PAGE' %}dialogs/", true);
                xhr.send(formData);
            }
        </script>
{% endblock %}
