{% extends "wrapper.html" %}
{% load home_extras %}
{% load i18n %}

{% block content%}

    {% if user.is_active %}

        {% if  userType == 2 %}

            <div class="container mt-3">

                <span class="article">{% if  edit != True  %}Новая заявка{% else %}Редактирование заявки{% endif %}</span>

                <div>

                    <div class="row mt-5">

                        <div class = "col">
                            <form name="form" id="form" class="bordered">
                                {% csrf_token %}
                                <div class="form-group">
                                    {% if  edit == True  %}
                                    <div class="row mb-3 text-right mr-3">
                                        <div class="col col-11">
                                            <label for="id_deleted" class="col-xs-2 control-label input-medium">Удалить заявку</label>
                                        </div>
                                        <div class="col col-1">
                                            <label class="checkbox-container">
                                                <input class="" id="id_deleted" value="True" type="checkbox" name="deleted" {% if n.deleted %}checked{% endif %}>
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                    {% endif %}
                                    <div>
                                        <input id="job_id" hidden name="job_id"></input>
                                        <div class="row mr-3" style="margin: 5px">
                                            <div class="col col-3">
                                                <span class="text-menu-grey">Город проведения</span>
                                            </div>
                                            <div class="col col-9 input-group">
                                                <select name="City" required id="City" class="form-control" disabled>
                                                    <option value="{{n.city_id}}" selected>{{n.city__name}}</option>
                                                </select>

                                                <div class="input-group-append">
                                                    <button style="z-index: auto" class="btn bg-dark text-light fa fa-align-justify" type="button" data-toggle="modal" data-target="#myModal"></button>
                                                </div>
                                                {% include "includes/citySearch.html" %}
                                            </div>
                                        </div>
                                        <div class="row pt-3 mr-3" style="margin: 5px">
                                            <div class="col col-3">
                                                <span class="text-menu-grey">Дата проведения</span>
                                            </div>
                                            <div class="col col-4">
                                                <input type="text" name="date" class="form-control" id="id_date"  placeholder="Дата начала" value="{{n.date|date:"Y-m-d"}}" required readonly>
                                            </div>
                                            <div class="col col-5">
                                                <input type="text" name="enddate" class="form-control" id="id_enddate"  placeholder="Дата окончания" value="{{n.enddate|date:"Y-m-d"}}" required readonly>
                                            </div>
                                        </div>
                                        <div class="row pt-3 mr-3" style="margin: 5px">
                                            <div class="col col-3">
                                                <span class="text-menu-grey">Описание</span>
                                            </div>
                                            <div class="col col-9">
                                                <textarea name="job_description" class="form-control" rows="5" placeholder="Описание предстоящих работ" id="job_description" required>{{n.description}}</textarea>
                                            </div>
                                        </div>
                                        <div class="row pt-3 mr-3" style="margin: 5px">
                                            <div class="col col-3">
                                                <span class="text-menu-grey">Требуются</span>
                                            </div>
                                            <div class="col col-9">

                                                <table class="table table-bordered">
                                                    <thead class="thead-default">
                                                        <tr>
                                                            <th>Сотрудники</th>
                                                            <th>Количество</th>
                                                            <th>Ставка(руб./д.)</th>
                                                            <th>&nbsp;&nbsp;&nbsp;Действия</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id = 'tbodyServices'>

                                                        {% for e in n.job_composition %}
                                                          <tr id="tr_{{forloop.counter0}}">
                                                              <td>
                                                                  <select name = "service_select" id="service_{{forloop.counter0}}" class = "form-control" style="background-color: white; border: white">
                                                                      {% for s in professionsList %}
                                                                          {% if s.id == e.profession__id %}
                                                                            <option value="{{s.id}}" selected >{{ s.name }}</option>
                                                                          {% else %}
                                                                            <option value="{{s.id}}">{{ s.name }}</option>
                                                                          {% endif %}
                                                                      {% endfor %}
                                                                  </select>
                                                              </td>
                                                              <td>
                                                                  <input name = 'service_count' id="service_{{forloop.counter0}}" type="number" class="form-control" value="{{e.count}}" style="background-color: white; border-color: white">
                                                              </td>
                                                              <td>
                                                                  <input name = 'service_price' id="price_{{forloop.counter0}}" type="number" class="form-control" value="{{e.price}}" style="background-color: white; border-color: white">
                                                              </td>
                                                              <td>
                                                                  <!--<button name = 'service_btnedit' type="button" class="btn text-danger" id="edit_%number%" onclick="editService(this)" style="text-align: left; background-color: white">Изменить</button>-->
                                                                  <button name = 'service_btndelete' type="button" class="btn text-danger" id="delete_{{forloop.counter0}}" onclick="deleteService(this)" style="text-align: left; background-color: white">Удалить</button>
                                                              </td>
                                                          </tr>
                                                        {%endfor%}

                                                        <tr id = 'tbodyControls'>
                                                            <td>
                                                                <button type="button" class="btn text-danger" id="add_services" onclick="addService()" style="text-align: left; background-color: white;">Добавить</button>
                                                            </td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>

                                                    </tbody>
                                                    <!-- Строка таблицы для добавления -->
                                                    <tr id="tr_%number%" hidden>
                                                        <td>
                                                            <select name = "service_select" id="service_%number%" class = "form-control" style="background-color: white; border: white">
                                                                {% for s in professionsList %}
                                                                    <option value="{{s.id}}">{{ s.name }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <input name = 'service_count' id="service_%number%" type="number" class="form-control" value="0" style="background-color: white; border-color: white">
                                                        </td>
                                                        <td>
                                                            <input name = 'service_price' id="price_%number%" type="number" class="form-control" value="0" style="background-color: white; border-color: white">
                                                        </td>
                                                        <td>
                                                            <!--<button name = 'service_btnedit' type="button" class="btn text-danger" id="edit_%number%" onclick="editService(this)" style="text-align: left; background-color: white">Изменить</button>-->
                                                            <button name = 'service_btndelete' type="button" class="btn text-danger" id="delete_%number%" onclick="deleteService(this)" style="text-align: left; background-color: white">Удалить</button>
                                                        </td>
                                                    </tr>

                                                </table>



                                            </div>
                                        </div>
                                    {% if  edit == True  %}
                                        <div class="ml-3">
                                            <div class="row">
                                                <div class="col">
                                                  <label class="article-sm">Отклики
                                                      {% if n.responseCount %}
                                                        ({{ n.responseCount }})
                                                      {% else %}
                                                        (Откликов нет)
                                                      {% endif %}
                                                  </label>
                                                </div>

                                            </div>

                                            <div class="border">

                                            {% for comment in n.response_array %}


                                                        <div class="row">
                                                            <div class="col col-2 text-center">
                                                                 <div class="product-img mt-3" style="height: 50px;">
                                                                     <img id ="fotourl" style="max-width:100%; border-radius: 5px; margin-left: auto; margin-right: auto; display: block; max-height:50px" src="{{  comment.photo }}" alt="">

                                                                 </div>
                                                                 <a class="article text-danger" href="{{ comment.workerurl }}">
                                                                        {{ comment.worker }}
                                                                      </a>
                                                            </div>

                                                            <div class="col col-10 text-center">
                                                                <span class="text-menu txt-bold">{{ comment.description }}</span>
                                                            </div>
                                                        </div>


                                                <div class="row ">
                                                    <div class="col">
                                                        <hr class="bg-color-dark-grey" style="border: none; height: 1px;">
                                                    </div>
                                                </div>

                                            {% endfor %}

                                            </div>

                                        </div>

                                    </div>

                                    {%endif%}
                                </div>
                                <script>

                                    var currentCount = 100;

                                    $('#form').validate({

                                        submitHandler: function(form) {
                                            saveJob();
                                            }
                                        }
                                    );

                                    $( "#id_date" ).datepicker({
                                        changeYear: true,
                                        changeMonth: true,
                                        dateFormat: 'yy-mm-dd',
                                    });

                                    $( "#id_enddate" ).datepicker({
                                        changeYear: true,
                                        changeMonth: true,
                                        dateFormat: 'yy-mm-dd',
                                    });

                                    function saveJob() {
                                        console.log('save: job');
                                        var formData = new FormData();

                                        //Собираем список услуг
                                        var ServiceList = document.getElementById("tbodyServices").getElementsByTagName('tr');
                                        var SelectedService = [];

                                        for (i=0; i < ServiceList.length; i++) {
                                            var tr = ServiceList[i];

                                            if (tr.id == 'tbodyControls'){
                                                continue;
                                            }

                                            SelectedService.push({"id": tr.getElementsByTagName('select')[0].value, "count": tr.getElementsByTagName('input')[0].value, "price": tr.getElementsByTagName('input')[1].value});

                                        }

                                        //Собираем конечный JSON

                                        var json = JSON.stringify({
                                            job_city: document.getElementById("City").value,
                                            job_date: document.getElementById("id_date").value,
                                            job_enddate: document.getElementById("id_enddate").value,
                                            job_description: document.getElementById("job_description").value,
                                            job_composition: SelectedService
                                        });

                                        // добавить к пересылке ещё пару ключ - значение
                                        formData.append("data", json);
                                        formData.append("csrfmiddlewaretoken", document.getElementsByName("csrfmiddlewaretoken")[0].value);

                                        // отослать
                                        var xhr = new XMLHttpRequest();

                                        xhr.onreadystatechange = function() { // (3)
                                            if (xhr.readyState != 4) return;

                                            if (xhr.status != 200) {
                                                location.href = (xhr.responseText);
                                            } else {
                                                location.href = (xhr.responseText);
                                            }
                                        }

                                        xhr.open("POST", "{% get_attribute 'HOME_PAGE' %}jobs/saveorder/", true);
                                        xhr.send(formData);
                                    }

                                    function addService() {

                                        currentCount = currentCount+1;

                                        var tbody   = document.getElementById('tbodyServices');
                                        var tr      = document.getElementById('tr_%number%').cloneNode(true);

                                        tr.id = tr.id.replace("%number%", currentCount);
                                        tr.hidden = false;

                                        tr.getElementsByTagName('select')[0].id = 'service_'+currentCount;
                                        tr.getElementsByTagName('input')[0].id = 'count_'+currentCount;
                                        tr.getElementsByTagName('input')[0].id = 'price_'+currentCount;
                                        /*tr.getElementsByTagName('button')[0].id = 'edit_'+currentCount;*/
                                        tr.getElementsByTagName('button')[0].id = 'delete_'+currentCount;

                                        tbody.insertBefore(tr, tbody.children[tbody.children.length-1]);
                                    }

                                    function deleteService(e) {
                                        var n = e.id.replace("delete_","");
                                        document.getElementById('tbodyServices').removeChild(document.getElementById('tr_'+n))
                                    }

                                </script>
                                <button type="submit" class="btn btn-danger mb-3">Сохранить</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

        {% endif %}

    {% endif %}

{% endblock %}
