{% extends "wrapper.html" %}
{% load home_extras %}
{% load i18n %}

{% block content%}

    {% if user.is_active %}

        {% if  userType == 2 %}

            <div class="container mt-3">

                <span class="article">Новая заявка</span>

                <div>

                    <div class="row mt-5">

                        <div class = "col">
                            <form name="form" id="form">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div>
                                        <input id="job_id" hidden name="job_id"></input>
                                        <div class="row mr-3" style="margin: 5px">
                                            <div class="col col-3">
                                                <span class="text-menu-grey">Город проведения</span>
                                            </div>
                                            <div class="col col-9 input-group">
                                                <select name="City" required id="City" class="form-control" disabled>
                                                    <option value="" selected></option>
                                                </select>

                                                <div class="input-group-append">
                                                    <button style="z-index: auto" class="btn bg-dark text-light fa fa-align-justify" type="button" data-toggle="modal" data-target="#myModal"></button>
                                                </div>
                                                {% include "includes/citySearch.html" %}
                                            </div>
                                        </div>
                                        <div class="row pt-3 mr-3" style="margin: 5px">
                                            <div class="col col-3">
                                                <span class="text-menu-grey">Дата проведения</span>
                                            </div>
                                            <div class="col col-4">
                                                <input type="text" name="date" class="form-control" id="id_date"  placeholder="Дата начала" value="" required readonly>
                                            </div>
                                            <div class="col col-5">
                                                <input type="text" name="enddate" class="form-control" id="id_enddate"  placeholder="Дата окончания" value="" required readonly>
                                            </div>
                                        </div>
                                        <div class="row pt-3 mr-3" style="margin: 5px">
                                            <div class="col col-3">
                                                <span class="text-menu-grey">Описание</span>
                                            </div>
                                            <div class="col col-9">
                                                <textarea name="job_description" class="form-control" rows="5" placeholder="Описание предстоящих работ" id="job_description" required></textarea>
                                            </div>
                                        </div>
                                        <div class="row pt-3 mr-3" style="margin: 5px">
                                            <div class="col col-3">
                                                <span class="text-menu-grey">Требуются</span>
                                            </div>
                                            <div class="col col-9">

                                                <table class="table table-bordered">
                                                    <thead class="thead-default">
                                                        <tr>
                                                            <th>Сотрудники</th>
                                                            <th>Количество</th>
                                                            <th>Ставка(руб./д.)</th>
                                                            <th>&nbsp;&nbsp;&nbsp;Действия</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id = 'tbodyServices'>

                                                        <tr id = 'tbodyControls'>
                                                            <td>
                                                                <button type="button" class="btn text-danger" id="add_services" onclick="addService()" style="text-align: left; background-color: white;">Добавить</button>
                                                            </td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                    <!-- Строка таблицы для добавления -->
                                                    <tr id="tr_%number%" hidden>
                                                        <td>
                                                            <select name = "service_select" id="service_%number%" class = "form-control" style="background-color: white; border: white">
                                                                {% for s in professionsList %}
                                                                    <option value="{{s.id}}">{{ s.name }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <input name = 'service_count' id="service_%number%" type="number" class="form-control" value="0" style="background-color: white; border-color: white">
                                                        </td>
                                                        <td>
                                                            <input name = 'service_price' id="price_%number%" type="number" class="form-control" value="0" style="background-color: white; border-color: white">
                                                        </td>
                                                        <td>
                                                            <!--<button name = 'service_btnedit' type="button" class="btn text-danger" id="edit_%number%" onclick="editService(this)" style="text-align: left; background-color: white">Изменить</button>-->
                                                            <button name = 'service_btndelete' type="button" class="btn text-danger" id="delete_%number%" onclick="deleteService(this)" style="text-align: left; background-color: white">Удалить</button>
                                                        </td>
                                                    </tr>

                                                </table>



                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <script>

                                    var currentCount = 100;

                                    $('#form').validate({

                                        submitHandler: function(form) {
                                            saveJob();
                                            }
                                        }
                                    );

                                    $( "#id_date" ).datepicker({
                                        changeYear: true,
                                        changeMonth: true,
                                        dateFormat: 'yy-mm-dd',
                                    });

                                    $( "#id_enddate" ).datepicker({
                                        changeYear: true,
                                        changeMonth: true,
                                        dateFormat: 'yy-mm-dd',
                                    });

                                    function saveJob() {

                                        var formData = new FormData();

                                        //Собираем список услуг
                                        var ServiceList = document.getElementById("tbodyServices").getElementsByTagName('tr');
                                        var SelectedService = [];

                                        for (i=0; i < ServiceList.length; i++) {
                                            var tr = ServiceList[i];

                                            if (tr.id == 'tbodyControls'){
                                                continue;
                                            }

                                            SelectedService.push({"id": tr.getElementsByTagName('select')[0].value, "count": tr.getElementsByTagName('input')[0].value, "price": tr.getElementsByTagName('input')[1].value});

                                        }

                                        //Собираем конечный JSON

                                        var json = JSON.stringify({
                                            job_city: document.getElementById("City").value,
                                            job_date: document.getElementById("id_date").value,
                                            job_enddate: document.getElementById("id_enddate").value,
                                            job_description: document.getElementById("job_description").value,
                                            job_composition: SelectedService
                                        });

                                        // добавить к пересылке ещё пару ключ - значение
                                        formData.append("data", json);
                                        formData.append("csrfmiddlewaretoken", document.getElementsByName("csrfmiddlewaretoken")[0].value);

                                        // отослать
                                        var xhr = new XMLHttpRequest();

                                        xhr.onreadystatechange = function() { // (3)
                                            if (xhr.readyState != 4) return;

                                            if (xhr.status != 200) {
                                                location.href = (xhr.responseText);
                                            } else {
                                                location.href = (xhr.responseText);
                                            }
                                        }

                                        xhr.open("POST", "{% get_attribute 'HOME_PAGE' %}jobs/saveorder/", true);
                                        xhr.send(formData);
                                    }

                                    function addService() {

                                        currentCount = currentCount+1;

                                        var tbody   = document.getElementById('tbodyServices');
                                        var tr      = document.getElementById('tr_%number%').cloneNode(true);

                                        tr.id = tr.id.replace("%number%", currentCount);
                                        tr.hidden = false;

                                        tr.getElementsByTagName('select')[0].id = 'service_'+currentCount;
                                        tr.getElementsByTagName('input')[0].id = 'count_'+currentCount;
                                        tr.getElementsByTagName('input')[0].id = 'price_'+currentCount;
                                        /*tr.getElementsByTagName('button')[0].id = 'edit_'+currentCount;*/
                                        tr.getElementsByTagName('button')[0].id = 'delete_'+currentCount;

                                        tbody.insertBefore(tr, tbody.children[tbody.children.length-1]);
                                    }

                                    function deleteService(e) {
                                        var n = e.id.replace("delete_","");
                                        document.getElementById('tbodyServices').removeChild(document.getElementById('tr_'+n))
                                    }

                                </script>
                                <button type="submit" class="btn btn-danger mb-3">Сохранить</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

        {% endif %}

    {% endif %}

{% endblock %}
