{% extends "wrapper.html" %}
{% load home_extras %}
{% load i18n %}

{% block content%}
    <div class="container mt-3">

    {% for n in newsList %}

        <div class="row pl-3">

            <div class="col col-3">
                <div class="img" align="center" style="min-width: 100%; min-height: 160px;max-height: 160px; border-radius: 4px; background-position: center; background-image: url('{{  STATIC_URL }}{{ n.image }}'); background-size: cover;">

                </div>

            </div>

            <div class="col col-9">
                <div class="row">
                    <div class="col">
                        <span class="article">{{ n.name }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ n.description }}
                    </div>
                </div>

                <div class="row" style="position: absolute; bottom: 0px; width: 100%">
                    <div class="col col-4">
                        <a href="{{ n.link }}" target="_blank" class="btn btn-primary bg-white text-primary">Перейти на сайт</a>
                    </div>
                    <div class="col col-8 text-right pt-2">
                        <span style="color: grey">Дата публикации: {{ n.created|date:"d M" }}</span>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col">
                <hr class="bg-color-grey" style="border: none; height: 2px;">
            </div>
        </div>

    {% endfor %}

    </div>
{% endblock %}