{% extends "wrapper.html" %}
{% load home_extras %}
{% load i18n %}

{% block content%}
    <div class="container mt-3">

        <div class="row mb-1 pl-3">
            <div class="col-8">
                <span class="article">Политика защиты персональных данных</span>
            </div>
            <div class="col-4">
                <div class="row" style="margin-right: -2em">
                    <!--<div class="col-4" style="line-height: 3.4em;">
                           <label for="inputsorting" class="text-menu">Сортировка</label>
                       </div>
                       <div class="col-8">
                           <div class="btn-group mt-2" role="group" aria-label="Basic example">
                             <button type="button" class="btn">По дате проведения</button>
                             <button type="button" class="btn">По дате добавления</button>
                           </div>
                       </div>-->
                </div>
            </div>

        </div>

        <div class="ml-3">
            <p class="ml-3">
                <a style="color: #d21c43; text-decoration: none" href="#sbor">Сбор персональных данных</a><br>
                <a style="color: #d21c43; text-decoration: none" href="#ispolz">Использование</a><br>
                <a style="color: #d21c43; text-decoration: none" href="#market">Маркетинг</a><br>
                <a style="color: #d21c43; text-decoration: none" href="#kuki">Куки-файлы</a><br>
                <a style="color: #d21c43; text-decoration: none" href="#bezop">Безопасность</a><br>
                <a style="color: #d21c43; text-decoration: none" href="#lica">Третьи лица</a><br>
                <a style="color: #d21c43; text-decoration: none" href="#izmen">Изменения</a><br>
            </p>
            <p>Настоящая Политика защиты персональных данных применяется ко всем Пользователям информационных систем и веб-сайтов (Продуктов) Компании. Дополнительные правила о защите персональных данных могут применяться к определённым категориям Пользователей (например, Специалистам).</p>
            <p>Пользователи прямо соглашаются на обработку своих персональных данных, как это описано в настоящей Политике. Обработка означает любую операцию с персональными данными независимо от используемых средств и процедуры, в частности сбор, запись, систематизацию, накопление, хранение, уточнение, обновление, изменение и извлечение персональных данных, а также их использование, передачу, распространение, предоставление, доступ, обезличивание, блокирование, удаление и уничтожение.</p>
            <p>Сервис предоставляется ООО «ВСЕЭКСПО.РУ», дочерними компаниями, концессионерами, подрядчиками и лицензиатами (связанные компании). Компания является контролёром данных, отвечает за цели обработки персональных данных Пользователей и может передавать персональные данные или поручать их обработку любой из связанных компаний в порядке, предусмотренном законодательством.</p>
            <p><a name="sbor"></a></p>
            <h3>Сбор персональных данных</h3>
            <p>Компания, предлагая свои Продукты, нуждается в сведениях о коммуникационных реквизитах Пользователей. При этом Компания запрашивает у Пользователя минимальный объём этих сведений, чтобы поддерживать связь с клиентом:</p>
            <ul>
            <li>имя Пользователя;</li>
            <li>мобильный телефон;</li>
            <li>адрес электронной почты.</li>
            </ul>
            <p>В процессе обработки заказов Компания может собирать и хранить следующую личную информацию, включая персональные данные:</p>
            <ul>
            <li>адрес и иную контактную информацию (в зависимости от используемых Продуктов), при оплате через сервис — финансовую информацию, такую как номера кредитных карт и банковских счетов;</li>
            <li>сообщения, направляемые с использованием Продуктов, и сообщения, направляемые в Компанию;</li>
            <li>иную информацию о взаимодействии Пользователя с информационными системами Компании и её партнёров, результаты сбора статистики посещений сайтов Компании и общедоступной информации о программах и устройствах, используемых для такового доступа, включая данные о геолокации или IP-адресе Пользователя;</li>
            <li>дополнительную информацию, которую Компания запрашивает у Пользователей для удостоверения их личности (например, для сертификации Специалистов Компания может попросить Специалиста прислать копии удостоверения личности, документов о получении образования или иных соответствующих ситуации документов для подтверждения личности и профессиональных сведений о Специалисте).</li>
            </ul>
            <p><a name="ispolz"></a></p>
            <h3>Использование</h3>
            <p>Главная цель Компании при сборе персональных данных — предоставление Пользователям безопасных и эффективных Продуктов. Пользователи соглашаются с тем, что Компания также может использовать их персональные данные для:</p>
            <ul>
            <li>предоставления услуг и клиентской поддержки по запросу Пользователей;</li>
            <li>исполнения соглашений с Пользователями;</li>
            <li>разрешения споров, сбора отзывов и выявления неисправностей;</li>
            <li>индивидуальной настройки, анализа и совершенствования услуг, информационного наполнения и рекламы Продуктов;</li>
            <li>информирования Пользователей о Продуктах, целевом маркетинге, обновлении услуг и рекламных предложениях на основании информационных предпочтений Пользователей;</li>
            <li>рассылки индивидуальных маркетинговых сообщений посредством электронной почты и СМС (от чего Пользователи могут отказаться в любой момент, изменив свои информационные предпочтения);</li>
            <li>сравнения персональных данных для подтверждения их точности и проверки их третьими сторонами в случаях, предусмотренных законодательством.</li>
            </ul>
            <p><a name="market"></a></p>
            <h3>Маркетинг</h3>
            <p>Компания не продаёт и не предоставляет персональные данные Пользователей третьим лицам для маркетинговых целей, не предусмотренных Условиями использования, без прямого согласия Пользователей. Компания может объединять обезличенные данные с иной информацией, полученной от третьих лиц, и использовать их для совершенствования и персонификации услуг, информационного наполнения и рекламы.</p>
            <p>Компания может также предоставлять персональные данные Пользователей:</p>
            <ul>
            <li>провайдерам услуг, которые оказывают предусмотренное соглашениями содействие в предоставлении Продуктов (например, расследование мошенничеств, сбор платежей, обслуживание клиентов, услуги консультантов);</li>
            <li>третьим лицам, которым Пользователи прямо просят Компанию направить свои персональные данные (или о которых Пользователи прямо уведомлены иным образом и соглашаются при использовании специальных услуг);</li>
            <li>правоохранительным органам, иным государственным органам или третьим лицам в ответ на запрос информации в рамках расследования уголовных дел, иной противоправной деятельности или любой деятельности, которая может повлечь привлечение к ответственности Компании или её Пользователей.</li>
            </ul>
            <p>Не ограничивая вышеизложенное, стараясь уважать личную информацию Пользователей, Компания не будет предоставлять персональные данные любым лицам, включая уполномоченные государственные органы, без запроса, оформленного в строгом соответствии с законом.</p>
            <p><a name="kuki"></a></p>
            <h3>Куки-файлы</h3>
            <p>Компания может использовать куки-файлы (cookies) и веб-маяки (beacons) для помощи в анализе потока информации, индивидуальной настройки услуг, информационного наполнения и рекламы, а также для измерения эффективности сайтов и обеспечения надёжности и безопасности, с целью исследований рынка, отслеживания доходов, а также для улучшения функциональности веб-сайтов, мониторинга выполнения настоящих условий, охраны законных прав и интересов.</p>
            <p>Несмотря на то, что куки-файлы деперсонализированы, Пользователи всегда могут отказаться от их сохранения, поскольку эта функция определяется настройками браузера Пользователя.</p>
            <p><a name="bezop"></a></p>
            <h3>Безопасность</h3>
            <p>Персональные данные Пользователей хранятся в информационных системах Компании и сохраняются различными способами (шифрование, пароли, ограничение доступа связанных компаний, сотрудников и подрядчиков, физическая безопасность и т.д.) для защиты персональных данных Пользователей от несанкционированного доступа и разглашения.</p>
            <p>Информационные системы веб-сайтов Компании, осуществляющие сбор, запись, систематизацию, накопление, хранение, уточнение, обновление, изменение и извлечение персональных данных Пользователей, размещаются в России; при первичной регистрации Пользователей и актуализации персональных данных трансграничная передача персональных данных не осуществляется, в исключительных случаях заменяется средствами удалённого доступа для неавтоматизированной обработки либо, если такая передача необходима в связи с законами соответствующих стран нахождения Пользователей, она осуществляется в соответствии с Конвенцией Совета Европы о защите физических лиц при автоматизированной обработке персональных данных.</p>
            <p>Использование, передача, распространение, предоставление, доступ, обезличивание, блокирование, удаление и уничтожение персональных данных Пользователей осуществляются только на основании решений уполномоченных представителей Компании в соответствии с требованиями применимого законодательства и законными интересами Пользователей.</p>
            <p>Компания не принимает решений, затрагивающих права и законные интересы Пользователей, на основании исключительно автоматизированной обработки персональных данных, за исключением случаев предоставления информации по результатам запроса, сделанного самим Пользователем с использованием интерфейса автоматизированных систем.</p>
            <p>При принятии юридически значимых решений, взаимодействии с Пользователями третьих лиц по просьбе Компании, во исполнение соглашений с Пользователями или по запросам Пользователей осуществляется неавтоматизированная обработка персональных данных в объёме, обусловленном целями такого взаимодействия, и с соблюдением требований о безопасности иных данных, не затрагиваемых обработкой.</p>
            <p><a name="liva"></a></p>
            <h3>Третьи лица</h3>
            <p>Если иное прямо не указано в настоящей Политике, настоящий документ касается только использования Компанией персональных данных, предоставленных Пользователями. Если Пользователи разглашают свои персональные данные другим лицам (например, по запросу от Специалистов или сторонних агентов), то к такому использованию и раскрытию персональных данных могут применяться иные правила. Компания советует Пользователям уточнять цели использования до предоставления своих персональных данных другим лицам.</p>
            <p><a name="izmen"></a></p>
            <h3>Изменения</h3>
            <p>Компания постоянно совершенствует способы сбора, хранения и обработки данных, включая меры безопасности. В связи с этим, а также в случаях изменения законодательства о персональных данных Компания в любой момент может изменить настоящую Политику, уведомив об этом Пользователей на веб-сайтах Компании. Продолжение использования Продуктов после внесения таких изменений подтверждает согласие Пользователя с такими изменениями, если получение отдельного согласия не требуется законом.</p>
        </div>
    </div>

{% endblock %}