{% extends "wrapper.html" %}
{% load home_extras %}
{% block content%}
    <style>

        .file-upload {
             position: relative; /* Даем возможность делать позиционирование, внутри данного элемента */
             overflow: hidden; /* Все что выходит за пределы - скрываем */
             /*width: 20%; /* Задаем ширину кнопки выбора файла */
             height: 40px; /* Задаем высоту кнопки выбора файла */
             /*background: #6da047;*/
             border-radius: 3px;
             padding: 8px 4px;
             /*color: #fff;*/
             text-align: center;
        }

        .file-upload input[type="file"]{
            display: none; /* Обязательно скрываем настоящий Input File */
        }
        .file-upload label {
             /* Растягиваем label на всю возможную площадь блока .file-upload */
             display: block;
             position: absolute;
             top: 0;
             left: 0;
             width: 100%;
             height: 100%;
             cursor: pointer;
        }
        .file-upload span {
             line-height: 36px; /* Делаем вертикальное выравнивание текста, который написан на кнопке */
        }

    </style>

    <div class="container pt-3">

        <form name="settingsform" id="settingsform">

            {% csrf_token %}

            <div class="alert alert-info">
                Заполните анкету, чтобы работодатель мог вас найти
            </div>

            <!-- ФОТО -->
            <div>
                <label class="article">Фото</label>

                <div class="row">

                    <div class="col col-3">

                        {% if worker.resizefotourl %}
                            <div class="row mb-2">
                                <div class="col">
                                    <div class="product-img" style="height: 150px;">
                                        <img id ="fotourl" style="max-width:100%; border-radius: 5px; margin-left: auto; margin-right: auto; display: block; max-height:150px" src="{{  worker.resizefotourl }}" alt="">
                                    </div>
                                </div>
                            </div>
                        {% elif worker.fotourl %}
                            <div class="row mb-2">
                                <div class="col">
                                    <div class="product-img" style="height: 150px;">
                                        <img id ="fotourl" style="max-width:100%; border-radius: 5px; margin-left: auto; margin-right: auto; display: block; max-height:150px" src="{{ worker.fotourl }}" alt="">
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        <div class="row">
                            <div class="col">
                                <div class="file-upload container-fluid btn btn-danger">
                                    <label>
                                        <input id = "finput_foto" type="file" name="file" onchange="setlocalfoto(this)" accept="image/jpg,image/jpeg,image/png">
                                        <span style="color: white">Сменить фото</span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">

                            <div class="col col-4" >
                                <div class="bg-color-grey" style="height: 40px; width: 40px; border-radius: 4px;" align="center">
                                    <span class="article article-sm">{{ worker.rating|floatformat:1}} </span>
                                </div>
                            </div>

                            <div class="col col-8">
                                <div class="stars stars-example-css mt-3">
                                    <div class="br-wrapper br-theme-css-stars">
                                        <div class="br-widget">
                                            <a style="height: 18px; width: 18px; font-size: 18px" {% if worker.rating >= 0.5 %} class="br-selected" {% endif %}></a>
                                            <a style="height: 18px; width: 18px; font-size: 18px" {% if worker.rating >= 1.5 %} class="br-selected" {% endif %}></a>
                                            <a style="height: 18px; width: 18px; font-size: 18px" {% if worker.rating >= 2.5 %} class="br-selected" {% endif %}></a>
                                            <a style="height: 18px; width: 18px; font-size: 18px" {% if worker.rating >= 3.5 %} class="br-selected" {% endif %}></a>
                                            <a style="height: 18px; width: 18px; font-size: 18px" {% if worker.rating >= 4.5 %} class="br-selected" {% endif %}></a>
                                        </div>
                                    </div>
                                </div>
                                <div style="margin-top: -18px">
                                    <span class="color-dark-grey">{{worker.commentscount}} оценок</span>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <!-- ЛИЧНЫЕ ДАННЫЕ -->
            <div class="mt-3">
                <label class="article">Личные данные</label>

                <div class="row mb-3">
                    <div class="col col-3">
                        <label for="id_name" class="col-xs-2 control-label input-medium">Имя*</label>
                    </div>
                    <div class="col col-3">
                        <input type="text" name = "name" class="form-control" id="id_name" placeholder="Имя" value="{{worker.name}}" required>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col col-3">
                        <label for="id_surname" class="col-xs-2 control-label input-medium">Фамилия*</label>
                    </div>
                    <div class="col col-3">
                        <input type="text" name="surname" class="form-control" id="id_surname" placeholder="Фамилия" value="{{worker.surname}}" required>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col col-3">
                        <label for="id_surname" class="col-xs-2 control-label input-medium">Отчество</label>
                    </div>
                    <div class="col col-3">
                        <input type="text" name = "lastname" class="form-control" id="id_lastname" placeholder="Отчество" value="{{worker.lastname}}">
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col col-3">
                        <label for="id_sex" class="col-xs-2 control-label input-medium">Пол</label>
                    </div>
                    <div class="col col-9">
                        <div class="radios-as-buttons" id = 'id_sex'>
                            <div>
                                <input type="radio" name="sexradio" id="sex1" {% if worker.sex == True %}checked{% endif %} value=1>
                                <label for="sex1">Мужской</label>
                            </div>
                            <div>
                                <input type="radio" name="sexradio" id="sex0" {% if worker.sex == False %}checked{% endif %} value=0>
                                <label for="sex0">Женский</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col col-3">
                        <label for="id_birthday" class="col-xs-2 control-label input-medium">День рождения*</label>
                    </div>
                    <div class="col col-3">
                        <input type="text" name="birthday" class="form-control" id="id_birthday"  placeholder="День рождения" value="{{worker.birthday|date:"Y-m-d"}}" readonly>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col col-3">
                        <label for="id_nationality" class="col-xs-2 control-label input-medium">Гражданство</label>
                    </div>
                    <div class="col col-3">
                        <select name="nationality" required id="id_nationality" class="form-control">
                            {% for e in countryList %}
                                <option value="{{ e.id }}" {% if worker.nationality.id == e.id %}selected{% endif %}>{{ e.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col col-3">
                        <label for="id_workpermit" class="col-xs-2 control-label input-medium">Разрешение на работу</label>
                    </div>
                    <div class="col col-3">
                        <label class="checkbox-container">
                            <input class="" id="id_workpermit" value="True" type="checkbox" name="workpermit" {% if worker.workpermit %}checked{% endif %}>
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col col-3">
                        <label for="id_workpermit" class="col-xs-2 control-label input-medium">Мой город, населенный пункт</label>
                    </div>
                    <div class="col col-3 input-group">

                        <select name="City" required id="City" class="form-control" disabled>
                            <option value="{{ worker.city.id }}" selected>{{ worker.city.name }}</option>
                        </select>

                        <div class="input-group-append">
                            <button style="z-index: auto" class="btn bg-dark text-light fa fa-align-justify" type="button" data-toggle="modal" data-target="#myModal"></button>
                        </div>
                        {% include "includes/citySearch.html" %}
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col col-3">
                        <label for="id_emailaddress" class="col-xs-2 control-label input-medium">Электронная почта</label>
                    </div>
                    <div class="col col-3">
                        <input type="text" name = "emailaddress" class="form-control" id="id_emailaddress" placeholder="Электронная почта" value="{{worker.emailaddress}}">
                    </div>
                    <div class="col col-6 mt-1">
                        <span class="badge badge-success" style="font-family: sans-serif;">Подтверждена</span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col col-3">
                        <label for="id_phonenumber" class="col-xs-2 control-label input-medium">Телефон</label>
                    </div>
                    <div class="col col-3">
                        <input type="text" name = "phonenumber" class="form-control" id="id_phonenumber" placeholder="Номер телефона" value="{{worker.phonenumber}}">
                    </div>
                    <div class="col col-6 mt-1">
                        <span class="badge badge-success" style="font-family: sans-serif;">Подтвержден</span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col col-3">
                        <label for="id_haveIP" class="col-xs-2 control-label input-medium">Я зарегистрирован как ИП</label>
                    </div>
                    <div class="col col-3">
                        <label class="checkbox-container">
                            <input class="" id="id_haveIP" value="True" type="checkbox" name="haveIP" {% if worker.haveip %}checked{% endif %}>
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col col-3">
                        <label for="id_haveinstrument" class="col-xs-2 control-label input-medium">Есть свои инструменты</label>
                    </div>
                    <div class="col col-3">
                        <label class="checkbox-container">
                            <input class="" id="id_haveinstrument" value="True" type="checkbox" name="haveinstrument" {% if worker.haveinstrument %}checked{% endif %}>
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col col-3">
                        <label for="id_Experiencewith" class="col-xs-2 control-label input-medium">Работаю на выставках с</label>
                    </div>
                    <div class="col col-3">
                        <select class="form-control" id="id_Experiencewith">
                            {% for i in 20|create_range %}
                                <option {% if worker.experiencedate == i %}selected{% endif %}>{{i}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col col-3">
                        <label for="id_experience" class="col-xs-2 control-label input-medium">Опыт работы на выставках</label>
                    </div>
                    <div class="col col-9">
                        <textarea name="experience" class="form-control" rows="5" placeholder="Когда и в каких выставках участвовал, что делал" id="id_experience">{{worker.experience}}</textarea>
                    </div>
                </div>

            </div>

            <!-- МОИ УМЕНИЯ И НАВЫКИ -->
            <div class="mt-3">
                <label class="article">Мои умения и навыки</label>

                <div class="row mb-3">
                        <div class="col col-3">
                            <label for="id_Professions" class="col-xs-2 control-label input-medium">Профессия</label>
                        </div>

                        <div class="col col-9">
                            <div class="row ml-1" id="div_selected_prof">
                                <div class="pr-1 mb-1" style="display:inline-block" id="hidden_div_selected_prof" hidden>
                                    <div class="pl-1" style="border-radius: 4px; background-color: #e8ebed">
                                        <span>{{ prof.name }}</span><button class="btn fa fa-times" style="right: 1px; background-color: #e8ebed" id="btn_{{ prof.id }}" onclick="deleteProf(this)"></button>
                                    </div>
                                </div>
                                {% for prof in worker.proflist %}
                                    <div class="pr-1 mb-1" style="display:inline-block" id="ps_{{ prof.id }}">
                                        <div class="pl-1" style="border-radius: 4px; background-color: #e8ebed">
                                            <span>{{ prof.name }}</span><button class="btn fa fa-times" style="right: 1px; background-color: #e8ebed" id="btn_{{ prof.id }}" onclick="deleteProf(this)"></button>
                                        </div>
                                    </div>
                                {% endfor %}

                                <a href="" class="text-danger" data-toggle="modal" data-target="#ModalProfession">Добавить профессию</a>
                            </div>
                        </div>

                        <select name = "Professions" id="ProfessionsGroup" placeholder = "Профессия" style="width: 100%" multiple hidden>
                            {% for prof in worker.proflist %}
                                <option value="{{ prof.id }}" selected id="opt_{{ prof.id }}" name="{{ prof.id }}">{{ prof.name }}</option>
                            {% endfor %}
                        </select>

                    </div>
                </div>

            <!-- УСЛУГИ И ЦЕНЫ -->
            <div class="mt-3">
                <label class="article">Услуги и цены</label>

                <div class="row mb-3">
                    <div class="col col-3">
                        <label for="id_Services" class="col-xs-2 control-label input-medium">Проектная работа</label>
                    </div>
                    <div class="col col-9" style="margin-left: -2pt">

                        <table class="table table-hover">
                            <thead class="thead-default">
                                <tr>
                                    <th style="width: 5px"></th>
                                    <th>Услуга</th>
                                    <th>Цена/руб.</th>
                                    <th>&nbsp;&nbsp;&nbsp;Действия</th>
                                </tr>
                            </thead>
                            <tbody id = 'tbodyServices'>
                                {% for i in worker.works.servicelist %}
                                    <tr id="tr_{{ forloop.counter }}">
                                        <td style="width: 5px"></td>
                                        <td>
                                            <select id="service_{{ forloop.counter }}" class = "form-control" style="background-color: white; border: white" disabled>
                                                {% for s in serviceList %}
                                                    <option value="{{s.id}}" {% if i.id == s.id %} selected {% endif %}>{{ s.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <input id="price_{{ forloop.counter }}" type="number" class="form-control" value="{{ i.price }}" disabled style="background-color: white; border-color: white">
                                        </td>
                                        <td>
                                            <button type="button" class="btn text-danger" id="edit_{{ forloop.counter }}" onclick="editService(this)" style="text-align: left; background-color: white">Изменить</button>
                                            <button type="button" class="btn text-danger" id="delete_{{ forloop.counter }}" onclick="deleteService(this)" style="text-align: left; background-color: white">Удалить</button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                <tr id = 'tbodyControls'>
                                    <td style="width: 5px"></td>
                                    <td>
                                        <button type="button" class="btn text-danger" id="add_services" onclick="addService()" style="text-align: left; background-color: white;">Добавить</button>
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <!-- Строка таблицы для добавления -->
                            <tr id="tr_%number%" hidden>
                                <td style="width: 5px"></td>
                                <td>
                                    <select name = "service_select" id="service_%number%" class = "form-control" style="background-color: white; border: white">
                                        {% for s in serviceList %}
                                            <option value="{{s.id}}">{{ s.name }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    <input name = 'service_price' id="price_%number%" type="number" class="form-control" value="0" style="background-color: white; border-color: white">
                                </td>
                                <td>
                                    <button name = 'service_btnedit' type="button" class="btn text-danger" id="edit_%number%" onclick="editService(this)" style="text-align: left; background-color: white">Изменить</button>
                                    <button name = 'service_btndelete' type="button" class="btn text-danger" id="delete_%number%" onclick="deleteService(this)" style="text-align: left; background-color: white">Удалить</button>
                                </td>
                            </tr>

                        </table>

                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col col-3">
                        <label for="id_Services" class="col-xs-2 control-label input-medium">Постоянная работа</label>
                    </div>
                    <div class="col col-2">
                        <input type="number" name = "salary" class="form-control" id="id_salary" placeholder="Зарплата" value="{{worker.works.salary}}">
                    </div>
                    <div class="col col-1 mt-1">
                        руб.
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col col-3">
                        <label for="freelance" class="col-xs-2 control-label input-medium">Фриланс</label>
                    </div>
                    <div class="col col-3">
                        <input type="number" name = "freelance" class="form-control" id="id_freelance" placeholder="" value="">
                    </div>

                </div>

            </div>

            <!-- КОМАНДИРОВКИ -->
            <div class="mt-3">
                <label class="article">Командировки</label>

                <div class="row mb-3">
                    <div class="col col-3">
                        <label for="id_readytotravel" class="col-xs-2 control-label input-medium">Готов к командировкам</label>
                    </div>
                    <div class="col col-3">
                        <label class="checkbox-container">
                            <input class="" id="id_readytotravel" value="True" type="checkbox" name="readytotravel" {% if worker.readytotravel %}checked{% endif %}>
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col col-3">
                        <label for="id_haveshengen" class="col-xs-2 control-label input-medium">Есть шенгенская виза</label>
                    </div>
                    <div class="col col-3">
                        <label class="checkbox-container">
                            <input class="" id="id_haveshengen" value="True" type="checkbox" name="haveshengen" {% if worker.haveshengen %}checked{% endif %}>
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col col-3">
                        <label for="id_haveintpass" class="col-xs-2 control-label input-medium">Есть загран паспорт</label>
                    </div>
                    <div class="col col-3">
                        <label class="checkbox-container">
                            <input id="id_haveintpass" value="True" type="checkbox" name="haveintpass" {% if worker.haveintpass %}checked{% endif %}>
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>

            </div>

            <!-- ПОРТФОЛИО -->
            <!--<div class="mb-3">
                <label class="article">Портфолио, работы, файлы</label>

                <div class="form-group form-control">
                    <label for="id_portfolio" class="col-xs-2 control-label"><strong>Портфолио:</strong></label>
                    <div class="container-fluid">
                        <div class="d-flex flex-row" style="overflow-x: scroll;" id="portfolio_list">
                            <div class="col-4">
                                 <div class="card card-body" >
                                     <div class="border-secondary " style="border: dashed">
                                         <div class="file-upload btn pb-3" style="height:145px; margin-left: auto; margin-right: auto; width: 100%" >
                                             <label>
                                                 <input id = "finput_portfolio" type="file" name="file" onchange="setlocalfoto(this)">
                                                 <span>Добавить файл</span>
                                             </label>
                                         </div>
                                     </div>
                                     <p></p>
                                     <input name = "" class="form-control" id="filedescription" placeholder="Введите описание">
                                 </div>
                            </div>

                            {% for s in worker.attachments %}
                                <div class="col-4" id="card_{{s.id}}">
                                    <div class="card card-body">
                                        <div class="product-img" style="height: 150px">
                                            <img id ="portfolio_url" style="max-height:150px; max-width: 100%; border-radius: 5px; margin-left: auto; margin-right: auto; display: block;" src="{{ s.resizeurl }}" alt="">
                                        </div>
                                        <p></p>
                                        <span name = "" class="text-sm-center" id="filedescriptionspan">{{s.description}}</span>
                                        <button type="button" id="{{s.id}}" class="btn btn-danger" style="position:absolute; top:0; right:0;" onclick="deleteAttachment(this)">Х</button>
                                    </div>
                                </div>
                            {% endfor %}

                            <div class="col-4" id="hidden_portfolio_card" hidden>
                                <div class="card card-body">
                                    <div class="product-img" style="height: 150px">
                                        <img id ="portfolio_url" style="max-height:150px; max-width: 100%; border-radius: 5px; margin-left: auto; margin-right: auto; display: block;" src="" alt="">
                                    </div>
                                    <p></p>
                                    <span name = "" class="text-sm-center" id="filedescriptionspan"></span>
                                    <button id="" type="button" class="btn btn-danger" style="position:absolute; top:0; right:0;" onclick="deleteAttachment(this)">Х</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>-->

            <!--<div class="alert alert-danger mb-3">
                <label class="checkbox-container" readonly>
                    <input class="" id="id_personaldataisallowed" value="True" type="checkbox" name="personaldataisallowed" checked>
                    <span class="checkmark"></span>
                    <label for="id_personaldataisallowed" class="col-xs-2 control-label input-medium">Я даю согласие на обработку персональных данных и понимаю, что мои данные будут переданы третьей стороне для проверки</label>
                </label>
            </div>-->

            <div class="alert alert-success">
                <label class="checkbox-container">
                    <input class="" id="id_publishdata" value="True" type="checkbox" name="publishdata" {% if worker.publishdata %}checked{% endif %}>
                    <span class="checkmark"></span>
                    <label for="id_publishdata" class="col-xs-2 control-label input-medium">Опубликовать анкету в общий доступ</label>
                </label>

            </div>

            <div class="pb-3">
                <button type="submit" class="btn btn-danger">Сохранить изменения</button>
            </div>

        </form>
    </div>

    <div class="modal fade" id="ModalProfession" tabindex="-1" role="dialog" aria-labelledby="ModalProfessionLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Укажите свои профессии</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="width: 100%; height: 80%; overflow: auto">

                    {% for key, value in professionList.items %}
                         <div class="panel-group" id="collapse-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" aria-expanded = "true" data-parent="#collapse-group" href="#el1{{key}}">{{key}}</a>
                                </div>
                                <div id="el1{{ key }}" class="panel-collapse collapse in ml-5 show">
                                    {% for elem in value %}
                                        <div>
                                            <input class="form-check-input" type="checkbox" name="check_prof" id="{{elem.id}}" value="{{elem.name}}" {% if elem.selected %}checked{% endif %}>
                                            <label class="form-check-label" for="{{elem.id}}">
                                                {{elem.name}}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                         </div>

                    {% endfor %}

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="saveProf()">Сохранить</button>
                </div>
            </div>

        </div>
    </div>
        <!--
        <form id="workersettings" enctype="multipart/form-data" class="form-horizontal" action="" method="post" onsubmit="event.preventDefault()">
        -->
<script>

    //Редактирование таблицы услуг
    var currentCount = 100;
    var newfiles    = [];
    var deletefiles = [];

    function saveProf() {

        var elems               = $('input[name=check_prof]:checked');
        var ProfessionsGroup    = document.getElementById('ProfessionsGroup');
        var div_selected_prof   = document.getElementById('div_selected_prof');

        for (i = 0; i<elems.length; i++){
            addProf(Parent = ProfessionsGroup, Prof = elems[i], Div = div_selected_prof);
        }
    }

    function addProf(Parent, Prof, Div) {

        if (document.getElementById('opt_'+Prof.id) === null) {

            //добавляем значение в список
            var option = document.createElement('option');
            option.value = Prof.id;
            option.id = "opt_" + Prof.id;
            option.selected = true;
            Parent.appendChild(option);

            //добавляем див со значением
            var div_selected_prof = document.getElementById('hidden_div_selected_prof').cloneNode(true);

            div_selected_prof.id = "ps_"+Prof.id;

            div_selected_prof.hidden = false;

            div_selected_prof.getElementsByTagName('span')[0].innerText = Prof.value;
            div_selected_prof.getElementsByTagName('button')[0].id="btn_"+Prof.id;

            Div.insertBefore(div_selected_prof, Div.children[Div.children.length-1]);
        }
    }

    function deleteProf(btn) {

        var thisid = btn.id.replace('btn_', '');

        document.getElementById('ps_'+thisid).remove();
        document.getElementById('opt_'+thisid).remove();
        document.getElementById(thisid).checked = false;
    }

    function editService(e) {
        var n = e.id.replace("edit_","");
        document.getElementById('service_'+n).disabled = false;
        document.getElementById('price_'+n).disabled = false;
    }

    function deleteService(e) {
        var n = e.id.replace("delete_","");
        document.getElementById('tbodyServices').removeChild(document.getElementById('tr_'+n))
    }

    function addService() {

        currentCount = currentCount+1;

        var tbody   = document.getElementById('tbodyServices');
        var tr      = document.getElementById('tr_%number%').cloneNode(true);

        tr.id = tr.id.replace("%number%", currentCount);
        tr.hidden = false;

        tr.getElementsByTagName('select')[0].id = 'service_'+currentCount;
        tr.getElementsByTagName('input')[0].id = 'price_'+currentCount;
        tr.getElementsByTagName('button')[0].id = 'edit_'+currentCount;
        tr.getElementsByTagName('button')[1].id = 'delete_'+currentCount;

        tbody.insertBefore(tr, tbody.children[tbody.children.length-1]);
    }

    // Выбор даты рождения
    $( "#id_birthday" ).datepicker({
        changeYear: true,
        changeMonth: true,
        dateFormat: 'yy-mm-dd',
    });

    function deleteAttachment(e) {

        var eid     = "card_"+e.id;
        var divFile = document.getElementById(eid);

        divFile.hidden = true;

        if (eid.indexOf('new') == -1) {
            deletefiles.push(e.id);
        }
        else {
            for (i=0; i < newfiles.length; i++) {
                if (newfiles[i].id == e.id) {
                    newfiles.splice(e, 1);
                }
            }

        }
    }

    function setlocalfoto(e) {
        console.log(e.id)
        var input = document.getElementById(e.id);
        var fReader = new FileReader();
        fReader.readAsDataURL(input.files[0]);
        fReader.onloadend = function(event){

            if(e.id=="finput_foto"){
                var img = document.getElementById("fotourl");
                img.src = event.target.result;
            }

            else{

                var uid = "id" + Math.random().toString(16).slice(2);
                var description = document.getElementById("filedescription");
                var portfolio_list = document.getElementById("portfolio_list");
                var portfolio_card = document.getElementById("hidden_portfolio_card").cloneNode(true);
                var img = portfolio_card.getElementsByTagName('img')[0];

                img.src = event.target.result;

                portfolio_card.getElementsByTagName('span')[0].innerText = description.value;
                portfolio_card.getElementsByTagName('button')[0].id = "new_file_"+uid;
                portfolio_card.hidden = false;
                portfolio_card.id     = "card_new_file_"+uid;
                portfolio_list.insertBefore(portfolio_card, portfolio_list.children[1]);

                newfiles.push({"id": "new_file_"+uid, "name": input.files[0].name, "description": description.value, "src": img.src});//

                description.value = "";
            }
        }
    }

    $('#settingsform').validate({

        submitHandler: function(form) {
            formsave();
            }
        }
    );

    function formsave() {

        var formData = new FormData();

        //Собираем список профессий
        var ProfList = document.getElementById("ProfessionsGroup").getElementsByTagName('option');
        var SelectedProf = [];
        for (i=0; i < ProfList.length; i++) {
            if (ProfList[i].selected) {
                SelectedProf.push(ProfList[i].value);
            }
        }

        //Собираем список услуг
        var ServiceList = document.getElementById("tbodyServices").getElementsByTagName('tr');
        var SelectedService = [];

        for (i=0; i < ServiceList.length; i++) {
            var tr = ServiceList[i];

            if (tr.id == 'tbodyControls'){
                continue;
            }

            SelectedService.push({"id": tr.getElementsByTagName('select')[0].value, "price": tr.getElementsByTagName('input')[0].value});

        }

        //Собираем конечный JSON

        var json = JSON.stringify({
            name: document.getElementById("id_name").value,
            surname: document.getElementById("id_surname").value,
            lastname: document.getElementById("id_lastname").value,
            emailaddress: document.getElementById("id_emailaddress").value,
            phonenumber: document.getElementById("id_phonenumber").value,
            city: document.getElementById("City").value,
            haveip: document.getElementById("id_haveIP").checked,
            workpermit: document.getElementById("id_workpermit").checked,
            //description: document.getElementById("id_Description").value,
            //education: document.getElementById("id_education").value,
            experiencedate: document.getElementById("id_Experiencewith").value,
            salary: document.getElementById("id_salary").value,
            experience: document.getElementById("id_experience").value,
            country: document.getElementById("id_nationality").value,
            birthday: document.getElementById("id_birthday").value,
            haveinstrument: document.getElementById("id_haveinstrument").checked,
            //personaldataisallowed: document.getElementById("id_personaldataisallowed").checked,
            publishdata: document.getElementById("id_publishdata").checked,
            fotourl: document.getElementById("fotourl").src,
            attachments: newfiles,
            delattachments: deletefiles,
            professions: SelectedProf,
            readytotravel: document.getElementById("id_readytotravel").checked,
            haveshengen: document.getElementById("id_haveshengen").checked,
            haveintpass: document.getElementById("id_haveintpass").checked,
            sex: $('input[name=sexradio]:checked').val(),
            services: SelectedService
        });

        // добавить к пересылке ещё пару ключ - значение
        formData.append("data", json);
        formData.append("csrfmiddlewaretoken", document.getElementsByName("csrfmiddlewaretoken")[0].value);

        // отослать
        var xhr = new XMLHttpRequest();

        xhr.onreadystatechange = function() { // (3)
            if (xhr.readyState != 4) return;

            if (xhr.status != 200) {
                //console.log(xhr);
                //alert(xhr.status + ': ' + xhr.statusText);
                location.href = (xhr.responseText);
            } else {
                //alert("Данные сохранены");
                location.href = (xhr.responseText);
            }
        }

        xhr.open("POST", "save/", true);
        xhr.send(formData);
    }

</script>
{% endblock %}

