{% extends "wrapper.html" %}
{% load home_extras %}

{% block content%}

    <div class="container pt-3">

        <!-- ФОТО -->
        <div class="ml-3">
            <label class="article"></label>

            <div class="row">

                <div class="col col-3">

                    <div class="row mb-2">
                       <div class="col">
                           <div class="product-img" style="height: 150px;">
                               <img id ="fotourl" style="max-width:100%; border-radius: 5px; margin-left: auto; margin-right: auto; display: block; max-height:150px" src="{{  worker.resizefotourl }}" alt="">
                           </div>
                       </div>
                    </div>

                    <div class="row mt-2">

                        <div class="col col-4" >
                            <div class="bg-color-grey" style="height: 40px; width: 40px; border-radius: 4px;" align="center">
                                <span class="article article-sm">{{ worker.rating|floatformat:1}} </span>
                            </div>
                        </div>

                        <div class="col col-8">
                            <div class="stars stars-example-css mt-3">
                                <div class="br-wrapper br-theme-css-stars">
                                    <div class="br-widget">
                                        <a {% if worker.rating >= 0.5 %} class="br-selected" {% endif %}></a>
                                        <a {% if worker.rating >= 1.5 %} class="br-selected" {% endif %}></a>
                                        <a {% if worker.rating >= 2.5 %} class="br-selected" {% endif %}></a>
                                        <a {% if worker.rating >= 3.5 %} class="br-selected" {% endif %}></a>
                                        <a {% if worker.rating >= 4.5 %} class="br-selected" {% endif %}></a>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-top: -18px">
                                <span class="color-dark-grey">{{worker.commentscount}} оценок</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col  pb-2 pt-2">
                            <a href="/messages/new?id={{worker.id}}&type=1" type="" class="btn btn-danger container-fluid">Написать</a>
                        </div>
                    </div>

                </div>

                <div class="col col-6">

                    <div class="row mb-3">
                        <div class="col col-3">
                            <label for="id_name" class="col-xs-2 control-label input-medium">Имя</label>
                        </div>
                        <div class="col col-9">
                            <span  name = "name" class="text-menu txt-bold" id="id_name" placeholder="Имя" value="">{{worker.name}}</span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col col-3">
                            <label for="id_surname" class="col-xs-2 control-label input-medium">Фамилия</label>
                        </div>
                        <div class="col col-9">
                            <span  name = "name" class="text-menu txt-bold" id="id_name" placeholder="Имя" value="">{{worker.surname}}</span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col col-3">
                            <label for="id_surname" class="col-xs-2 control-label input-medium">Отчество</label>
                        </div>
                        <div class="col col-9">
                            <span  name = "name" class="text-menu txt-bold" id="id_name" placeholder="Имя" value="">{{worker.lastname}}</span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col col-3">
                            <label for="City" class="col-xs-2 control-label input-medium">Город</label>
                        </div>
                        <div class="col col-9">
                            <span  name = "name" class="text-menu txt-bold" id="id_name" placeholder="Имя" value="">{{worker.city.name}}</span>
                        </div>
                    </div>

                </div>

                <div class="col col-3">
                    <span class="badge container-fluid {% if worker.fsocheck %}badge-success{% else %}badge-grey{% endif %}" style="font-family: sans-serif;">Проверка ФСО пройдена</span>
                    <span class="badge container-fluid {% if worker.workpermit %}badge-success{% else %}badge-grey{% endif %}" style="font-family: sans-serif;">Есть разрешение на работу</span>
                    <span class="badge container-fluid {% if worker.datacheck %}badge-success{% else %}badge-grey{% endif %}" style="font-family: sans-serif;">Данные проверены</span>
                    <span class="badge container-fluid {% if worker.haveip %}badge-success{% else %}badge-grey{% endif %}" style="font-family: sans-serif;">Зарегистрирован как ИП</span>
                    <span class="badge container-fluid {% if worker.haveinstrument %}badge-success{% else %}badge-grey{% endif %}" style="font-family: sans-serif;">Есть инструмент</span>
                    <span class="badge container-fluid {% if worker.readytotravel %}badge-success{% else %}badge-grey{% endif %}" style="font-family: sans-serif;">Готов к командировкам</span>
                    <span class="badge container-fluid {% if worker.haveintpass %}badge-success{% else %}badge-grey{% endif %}" style="font-family: sans-serif;">Есть загранпаспорт</span>
                    <span class="badge container-fluid {% if worker.haveshengen %}badge-success{% else %}badge-grey{% endif %}" style="font-family: sans-serif;">Есть шенген</span>
                </div>

            </div>
        </div>

            <!-- ЛИЧНЫЕ ДАННЫЕ -->
        <div class="mt-3 ml-3">
                <label class="article">Личные данные</label>

                <div class="row mb-3">
                    <div class="col col-3">
                        <label for="id_sex" class="col-xs-2 control-label input-medium">Пол</label>
                    </div>
                    <div class="col col-9">
                        {% if worker.sex == True %}
                            <span  name = "name" class="text-menu txt-bold" id="id_name" placeholder="Имя" value="">Мужской</span>
                        {% else %}
                            <span  name = "name" class="text-menu txt-bold" id="id_name" placeholder="Имя" value="">Женский</span>
                        {% endif %}

                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col col-3">
                        <label for="id_birthday" class="col-xs-2 control-label input-medium">День рождения</label>
                    </div>
                    <div class="col col-3">
                        <span  name = "name" class="text-menu txt-bold" id="id_name" placeholder="Имя" value="">{{worker.birthday|date:"d-M-Y"}}</span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col col-3">
                        <label for="id_nationality" class="col-xs-2 control-label input-medium">Гражданство</label>
                    </div>
                    <div class="col col-3">
                        <span  name = "name" class="text-menu txt-bold" id="id_name" placeholder="Имя" value="">{{worker.nationality.name}}</span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col col-3">
                        <label for="id_emailaddress" class="col-xs-2 control-label input-medium">Электронная почта</label>
                    </div>
                    <div class="col col-3">
                        <span  name = "name" class="text-menu txt-bold" id="id_name" placeholder="Имя" value="">{{worker.emailaddress}}</span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col col-3">
                        <label for="id_phonenumber" class="col-xs-2 control-label input-medium">Телефон</label>
                    </div>
                    <div class="col col-3">
                        <span  name = "name" class="text-menu txt-bold" id="id_name" placeholder="Имя" value="">{{worker.phonenumber}}</span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col col-3">
                        <label for="id_Experiencewith" class="col-xs-2 control-label input-medium">Опыт работы на выставках</label>
                    </div>
                    <div class="col col-3">
                        <span  name = "name" class="text-menu txt-bold" id="id_name" placeholder="Имя" value="">{{ worker.experienceyear }} {{ worker.experienceyear|decline }}</span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col col-3">
                        <label for="id_experience" class="col-xs-2 control-label input-medium"></label>
                    </div>
                    <div class="col col-9">
                        <span  name = "name" class="text-menu txt-bold" id="id_name" placeholder="Имя" value="">{{worker.experience}}</span>
                    </div>
                </div>

            </div>

            <!-- МОИ УМЕНИЯ И НАВЫКИ -->
            <div class="mt-3 ml-3">
                <label class="article">Мои умения и навыки</label>

                <div class="row mb-3">
                    <div class="col col-3">
                        <label for="id_Professions" class="col-xs-2 control-label input-medium">Профессия</label>
                    </div>
                    <div class="col col-9">
                        <span  name = "name" class="text-menu txt-bold" id="id_name" placeholder="Имя" value="">{% for prof in worker.proflist %}{{ prof.name }}, {% endfor %}</span>
                    </div>
                </div>
            </div>

            <!-- УСЛУГИ И ЦЕНЫ -->
            <div class="mt-3 ml-3">
                <label class="article">Услуги и цены</label>

                    <div class="row mb-3">
                        <div class="col col-3">
                            <label for="id_Services" class="col-xs-2 control-label input-medium">Проектная работа</label>
                        </div>
                        <div class="col col-9" style="margin-left: -2pt">

                            <table class="table table-hover">
                                <thead class="thead-default">
                                    <tr>
                                        <th style="width: 5px"></th>
                                        <th>Услуга</th>
                                        <th>Цена/руб.</th>
                                    </tr>
                                </thead>
                                <tbody id = 'tbodyServices'>
                                    {% for i in worker.works.servicelist %}
                                        <tr id="tr_{{ forloop.counter }}">
                                            <td style="width: 5px"></td>
                                            <td>
                                                {{i.service}}
                                            </td>
                                            <td>
                                                <input id="price_{{ forloop.counter }}" type="number" class="form-control" value="{{ i.price }}" disabled style="background-color: white; border-color: white">
                                            </td>
                                        </tr>
                                    {% endfor %}

                                </tbody>


                            </table>

                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col col-3">
                            <label for="id_Services" class="col-xs-2 control-label input-medium">Постоянная работа</label>
                        </div>
                        <div class="col col-2">
                            <span  name = "name" class="text-menu txt-bold" id="id_name" placeholder="Имя" value="">{{worker.works.salary}}</span>
                        </div>
                        <div class="col col-1 mt-1">
                            руб.
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col col-3">
                            <label for="freelance" class="col-xs-2 control-label input-medium">Фриланс</label>
                        </div>
                        <div class="col col-3">
                            <span  name = "name" class="text-menu txt-bold" id="id_name" placeholder="Имя" value=""></span>
                        </div>

                    </div>
            </div>

            <!-- ПОРТФОЛИО -->
            {% if worker.attachments %}
            <div class="mb-3 ml-3">
                <label class="article">Портфолио, работы, файлы</label>

                <div class="form-group form-control">
                    {% include "includes/portfolio.html" %}
                </div>
            </div>
            {% endif %}

    </div>

    <p></p>

    <div class="container " >

        <div class="ml-3">
            <div class="row">
                <div class="col col-2"><label class="article">Отзывы</label></div>
                <!--<div class="col"><label class="article text-danger">{{worker.commentscount}}</label></div>-->
            </div>

            <div class="border">

            {% for comment in comments %}

                <div class="row pt-3 mr-3" style="margin: 5px">
                    <div class="col col-2">
                        <div class="row">
                            <div class="col text-center">
                                <label class="article text-danger">{{ comment.rating }}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <span class="text-menu txt-bold">{{ comment.profession.name }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col col-10">
                        <div class="row ">
                            <span>{{ comment.text }}</span>
                        </div>

                        <div class="row color-dark-grey mb-3">
                            <div class="col col-8">
                            </div>
                            <div class="col col-2">
                                {{ comment.user.name }}
                            </div>
                            <div class="col col-2 text-right">
                                {{ comment.created|date:"d M Y" }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row ">
                    <div class="col ml-3 mr-3">
                        <hr class="bg-color-dark-grey" style="border: none; height: 1px;">
                    </div>
                </div>

            {% endfor %}

            </div>

        </div>

    </div>

    {% if user.is_active %}
        <div style="position: fixed; bottom: 50px; right: 50px; z-index: 10;">
            <button class="btn btn-danger btn-lg fa fa-plus-circle" style="height: 50px" type="button" data-toggle="modal" data-target="#addComment">Добавить комментарий</button>
        </div>
        <div class="modal fade" id="addComment" tabindex="-1" role="dialog" aria-labelledby="addCommentLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="article">Новый комментарий</span>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="width: 100%; overflow: auto">

                        <div class="row">

                                <div class = "col">

                                    {% if user.is_active %}
                                        <form action="" name="commentsform" id="commentsform" method="post">
                                            {% csrf_token %}

                                            <div class="form-group">
                                                <div class="row pt-3">
                                                    <div class="col col-4">
                                                        <select required class=" custom-select" name="{{ commentForm.rating.name }}" id="comment_rating">
                                                            <option value="" style="display:none">Оценка</option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                        </select>
                                                    </div>
                                                    <div class="col col-8">
                                                        <select required class=" custom-select" name="{{ commentForm.idProf.name }}" id="comment_profession">
                                                            <option value="" style="display:none">Работа</option>
                                                            {% for prof in worker.proflist %}
                                                                <option value="{{ prof.id }}">{{ prof.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row"  style="padding-top: 5px">
                                                    <div class="col">
                                                        <textarea required name="{{ commentForm.text.name }}" class="form-control" rows="5" placeholder="Ваш комментарий..." id="comment_text"></textarea>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-danger" onclick="">Сохранить</button>
                                            </div>

                                            <script>

                                                        var workerid = "{{ worker.id }}";

                                                        $('#commentsform').validate({

                                                            submitHandler: function(form) {
                                                                saveComment();
                                                                }
                                                            }
                                                        );

                                                        function saveComment() {

                                                            var formData = new FormData();

                                                            //Собираем конечный JSON

                                                            var json = JSON.stringify({
                                                                idworker: workerid,
                                                                text: document.getElementById("comment_text").value,
                                                                rating: document.getElementById("comment_rating").value,
                                                                idprofession: document.getElementById("comment_profession").value

                                                            });

                                                            // добавить к пересылке ещё пару ключ - значение
                                                            formData.append("data", json);
                                                            formData.append("csrfmiddlewaretoken", document.getElementsByName("csrfmiddlewaretoken")[0].value);

                                                            // отослать
                                                            var xhr = new XMLHttpRequest();

                                                            xhr.onreadystatechange = function() { // (3)
                                                                if (xhr.readyState != 4) return;


                                                                if (xhr.status != 200) {
                                                                    location.href = (xhr.responseText);
                                                                } else {
                                                                    location.href = (xhr.responseText);
                                                                }
                                                            }

                                                            xhr.open("POST", "{% get_attribute 'HOME_PAGE' %}worker/comments/save/", true);
                                                            xhr.send(formData);
                                                        }
                                                    </script>

                                        </form>
                                    {% endif %}

                                </div>
                            </div>

                    </div>

                </div>
            </div>
        </div>
    {% endif %}

    <p></p>

{% endblock %}