{% extends "wrapper.html" %}
{% load home_extras %}
{% load i18n %}

{% block content%}

    {% if user.is_active %}
    <div class="container mt-3">

        <div class="row mb-1 pl-3">
            <div class="col-8">
                <span class="article">Отклики и предложения</span>
            </div>
        </div>

              {% for comment in response_array %}

              <div class="card
                {% if comment.status.value == 0 %}

                {% elif comment.status.value == 1 %}
                    border-success
                {% elif comment.status.value == 2 %}
                    border-danger
                {% endif %} mb-3" style="width: 100%;">
                  <div class="card-header bg-transparent">
                    <div class="row">
                      <div class="col col-1 col-md-2 text-center">
                           <div class="product-img" style="height: 40px;">
                               <img id ="fotourl" style="max-width:100%; border-radius: 5px; margin-left: auto; margin-right: auto; display: block; max-height:50px" src="{{  comment.company.photo }}" alt="">

                           </div>
                           <div class="row text-center">
                             <a class="text-danger container-fluid" style="font-size: 12px" href="{{ comment.company.url }}">{{ comment.company.name }}</a>
                           </div>
                      </div>
                      <div class="col col-9 col-md-7 text-left mb-3" style="height: 40px;">
                          <div class="row" style="font-size: 10px; color: grey">
                              Дата отклика: {{comment.created|date:"Y-m-d"}}
                          </div>
                          <div class="row" style="font-size: 10px; color: grey">
                              Описание: {{comment.description}}
                          </div>
                          <div class="row" style="font-size: 10px">
                                <a href="{{comment.jobOrder}}" style="color: #D21C43">перейти</a>
                          </div>
                      </div>
                      <div class="col col-2 col-md-3 text-center">
                        <span class="badge container-fluid
                          {% if comment.status.value == 0 %}
                              badge-light
                          {% elif comment.status.value == 1 %}
                              badge-success
                          {% elif comment.status.value == 2 %}
                              badge-danger
                          {% endif %}
                          " style="font-family: sans-serif;">
                          {{comment.status.name}}
                        </span>

                    {% if  userType == 2 %}
                        {% csrf_token %}
                        <div class="row mt-3">
                              <a href="" class="text-success text-right container-fluid" name="button" id={{comment.id}} onclick="setResponseStatus(this, true)">Пригласить</a>
                        </div>
                        <div class="row">
                              <a href="" class="text-danger text-right container-fluid" name="button" id={{comment.id}}  onclick="setResponseStatus(this, false)">Отказать</a>
                        </div>
                        <script>
                            function setResponseStatus(el, status)  {
                              var formData = new FormData();

                              //Собираем конечный JSON
                              var json = JSON.stringify({
                                  id: el.id,
                                  status: status
                              });

                              // добавить к пересылке ещё пару ключ - значение
                              formData.append("data", json);
                              formData.append("csrfmiddlewaretoken", document.getElementsByName("csrfmiddlewaretoken")[0].value);

                              // отослать
                              var xhr = new XMLHttpRequest();

                              xhr.onreadystatechange = function() { // (3)
                                  if (xhr.readyState != 4) return;

                                  location.reload();

                              }

                              xhr.open("POST", "{% get_attribute 'HOME_PAGE' %}responses/setResponseStatus/", true);
                              xhr.send(formData);
                            }
                        </script>
                    {% endif %}
                      </div>
                    </div>
                  </div>

              </div>
              {% endfor %}

    </div>

    {% endif %}

{% endblock %}
