{% extends "wrapper.html" %}

{% block content%}
    <p></p>
    <div class="container pb-3">
        
        <form enctype="multipart/form-data" class="form-horizontal" action="" method="post">
          {% csrf_token %}
		  <div class="form-group pb-3">

		    <div class="row">
			    <div class="col col-2">
                    <div class="row">
                        <div class="col">
                            <div class="product-img">
                                        {% if worker.fotoUrl %}
                                            <a href="#"><img src="{{ worker.fotoUrl }}" height="150px" alt=""></a>
                                        {% else %}
                                            <a href="#"><img src="/static/main/img/Foto.jpg" height="150px" alt=""></a>
                                        {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="file" name="foto" id="id_foto"/>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row pb-3">

                        <div class="col col-1">
                            <label for="id_surname" class="col-xs-2 control-label"><strong>Фамилия:</strong></label>
                        </div>

                        <div class="col">
                            <input type="text" name="surname" class="form-control" id="id_surname" placeholder="Введите фамилию" value="{{worker.surname}}">
                        </div>

                    </div>
                    <div class="row pb-3">
                        <div class="col col-1">
                            <label for="id_name" class="col-xs-2 control-label"><strong>Имя:</strong></label>
                        </div>
                        <div class="col">
                            <input type="text" name = "name" class="form-control" id="id_name" placeholder="Введите имя" value="{{worker.name}}">
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col col-1">
                            <label for="id_lastname" class="col-xs-2 control-label"><strong>Отчество:</strong></label>
                        </div>
                        <div class="col">
                            <input type="text" name = "lastname" class="form-control" id="id_lastname" placeholder="Введите отчество" value="{{worker.lastname}}">
                        </div>
                    </div>
                </div>
		    </div>
		  </div>

          <div class="form-group">
		    <div class="row">
                <div class="col">
                    <label for="id_phonenumber" class="col-xs-2 control-label"><strong>Телефон:</strong></label>
                </div>
			    <div class="col">
                    <input type="text" name="phonenumber" class="form-control" id="id_phonenumber"  placeholder="Номер телефона" value="{{worker.phonenumber}}" required>

			    </div>
            </div>
              <p></p>
              <div class="row">
                <div class="col">
                    <label for="id_emailaddress" class="col-xs-2 control-label"><strong>Электронная почта:</strong></label>
                </div>
			    <div class="col">
                    <input type="text" name="emailaddress" class="form-control" id="id_emailaddress"  placeholder="Адрес электронной почты" value="{{worker.emailaddress}}" required>

			    </div>
            </div>
              <p></p>
		    <div class="row">
                <div class="col">
                    <label for="id_idCity" class="col-xs-2 control-label"><strong>Город:</strong></label>
                </div>
			    <div class="col">

                    <select name="idCity" required id="id_idCity" class="form-control" >
                    {% for c in city %}

                        {% if c.id == worker.cityid%}
                            <option value="{{ c.id }}" selected>{{ c.name }}</option>
                        {% else %}
                            <option value="{{ c.id }}">{{ c.name }}</option>
                        {% endif %}

                    {% endfor %}
                    </select>

			    </div>
            </div>
		  </div>

          <div class="form-group">
              <script type="text/javascript">
                    $(document).ready(function() {
                        $('#example-enableCollapsibleOptGroups-enableClickableOptGroups').multiselect({
                            enableClickableOptGroups: true,
                            enableCollapsibleOptGroups: true
                        });
                    });
              </script>
            <div class="row">
                <div class="col">
                  <label for="id_Professions" class="col-xs-2 control-label"><strong>Профессии:</strong></label>
                </div>
                <div class="col">
                        <select name = "Professions" id="example-enableCollapsibleOptGroups-enableClickableOptGroups" style="width: 100%" multiple >
                            {% for key, value in professionList.items %}
                                <optgroup label="{{ key }}">
                                    {% for elem in value %}
                                        {{ elem.selected }}
                                        {% if elem.selected %}
                                            <option value="{{ elem.id }}" selected>{{ elem.name }}</option>
                                        {% else %}
                                            <option value="{{ elem.id }}">{{ elem.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </optgroup>
                            {% endfor %}
                        </select>
                </div>
            </div>
          </div>

        <div class="form-group">
		    <label for="id_Description" class="col-xs-2 control-label"><strong>О себе:</strong></label>
		    <div class="row">
			    <div class="col">
			      <textarea name="Description" class="form-control" rows="5" placeholder="Кратко о себе" id="id_Description">{{worker.description}}</textarea>
			    </div>
            </div>
		  </div>
        <div class="form-group">
		    <label for="id_education" class="col-xs-2 control-label"><strong>Образование:</strong></label>
		    <div class="row">
			    <div class="col">
			      <textarea name="education" class="form-control" rows="5" placeholder="Образование" id="id_education">{{worker.education}}</textarea>
			    </div>
            </div>
		  </div>

          <div class="form-group">
              <script>
                $(function(){
                    $('#id_Experiencewith').daterangepicker({
                        singleDatePicker: true,
                        locale: {
                            format: 'YYYY-MM-DD'
                        }
                    });
                });
              </script>
		    <div class="row">
			    <div class="col">
                    <label for="id_Experiencewith" class="col-xs-2 control-label"><strong>Стаж с (2014-07-08):</strong></label>
                </div>
                <div class="col">
                    <input type="text" name="Experiencewith" class="form-control" id="id_Experiencewith"  placeholder="Дата" value="{{worker.Experiencewith|date:"Y.m.d"}}" required>

                    <!--<input type="date" name="Experiencewith" class="form-control" id="id_Experiencewith" placeholder="Дата" required >
                    <input type="text" name="Experiencewith" class="form-control" id="id_Experiencewith" value="{{worker.Experiencewith|date:"Y.m.d"}}"/>
                    -->
                </div>
            </div>
              <p></p>
              <div class="row">
			    <div class="col">
			      <textarea name="experience" class="form-control" rows="5" placeholder="Опыт работы" id="id_experience">{{worker.experience}}</textarea>
			    </div>
            </div>
		  </div>


          <div class="form-group">
		    <div class="row">
                <div class="col">
                    <label for="id_haveIP" class="col-xs-2 control-label"><strong>Есть ИП:</strong></label>
                </div>
			    <div class="col">
                    {% if worker.haveIP %}
                        <input class="" id="id_haveIP" value="True" type="checkbox" name="haveIP" checked>
                    {% else %}
                        <input class="" id="id_haveIP" value="True" type="checkbox" name="haveIP">
                    {% endif %}
			    </div>
            </div>
		  </div>
          <div class="form-group">
		    <div class="row">
                <div class="col">
                    <label for="id_workpermit" class="col-xs-2 control-label"><strong>Есть разрешение на работу:</strong></label>
                </div>
			    <div class="col">
                    {% if worker.workpermit %}
                        <input class="" id="id_workpermit" value="True" type="checkbox" name="workpermit" checked>
                    {% else %}
                        <input class="" id="id_workpermit" value="True" type="checkbox" name="workpermit">
                    {% endif %}
			    </div>
            </div>
		  </div>

          <div class="form-group form-control">
               <div class="row">
                    <div class="col col-2">
                        <label for="id_Services" class="col-xs-2 control-label"><strong>Услуги и цены:</strong></label>
                    </div>
                    <div class="col">
                        <script>
                            var currentCount = 1000;
                            function addService() {

                                    currentCount = currentCount+1

                                    var selectservices  = document.getElementById('id_selectServices');
                                    var inputservices   = document.getElementById('id_inputServices');
                                    var delservices     = document.getElementById('del_services');

                                    var newSelect   = selectservices.cloneNode(true);
                                    var newInput    = inputservices.cloneNode(true);
                                    var newDel      = delservices.cloneNode(true);

                                    newDel.id = 'x'+currentCount;

                                    var table = document.getElementById('id_Services');

                                    var tr31 = document.createElement('tr'); //создаем еще строку

                                    tr31.id = 'trx'+currentCount;

                                    var td31 = document.createElement('td');  //создаем столбец
                                    var td32 = document.createElement('td');
                                    var td33 = document.createElement('td');

                                    td31.appendChild(newSelect);
                                    td32.appendChild(newInput);
                                    td33.appendChild(newDel);

                                    //tr11.appendChild(td31); так можно добавить в первую строку столбец
                                    tr31.appendChild(td31); //кладем в новосозданную строку первый новосозданный столбец
                                    tr31.appendChild(td32); //кладем в новосозданную строку второй новосозданный столбец
                                    tr31.appendChild(td33);

                                    table.appendChild(tr31); //кладем в таблицу новосозданную строку (последней)
                            }

                            function delService(id) {
                                var idservices      = 'tr'+id;
                                var selectservices  = document.getElementById(idservices);
                                var table           = document.getElementById('id_Services');

                                table.removeChild(selectservices)
                            }
                        </script>
                        <input class="btn btn-success" id="add_services" value="+" onclick="addService()" type="button">
                    </div>
               </div>
		    <div class="row ">
                <div style="visibility:hidden; position:absolute" id="defuult">

                    <select id="id_selectServices" class="form-control" name="selectServices" required>
                            {% for s in serviceList %}
                                <option value="{{ s.id }}">{{s.name}}</option>
                            {% endfor %}
                    </select>
                    <input id="id_inputServices" name = "inputServices" type="number" value="" class="form-control"></input>
                    <input class="btn btn-danger" id="del_services" value="-" onclick="delService(this.id)" type="button">

                </div>
			    <div class="col">
			      <table name="Services" class="table" placeholder="Услуги и цены">
                    <tbody id="id_Services">
                      {% for service in worker.serviceList %}

                          <tr id = "tr{{ service.idservice }}">
                            <td>
                                <select id="id_selectServices" class="form-control" name="selectServices" required>
                                    {% for s in serviceList %}
                                        {% if s.id == service.idservice %}
                                            <option value="{{ s.id }}" selected>{{s.name}}</option>
                                        {% else %}
                                            <option value="{{ s.id }}">{{s.name}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <input id="id_inputServices" name = "inputServices" type="number" value="{{ service.price }}" class="form-control"></input>
                            </td>
                            <td>
                                <input class="btn btn-danger" id = "{{ service.idservice }}" value="-" onclick="delService(this.id)" type="button">
                            </td>
                          </tr>
                      {% endfor %}
                    </tbody>
                  </table>
			    </div>
            </div>
		  </div>
          <p></p>
		  <div class="form-group">
		    <div class="col-xs-offset-2 col-xs-10">
		      <button type="submit" class="btn btn-danger">Сохранить</button>
		    </div>
		  </div>

        </form>

    </div>

    <p></p>

{% endblock %}
